<form [formGroup]="form" (submit)="formSubmit()">
  <div class="flex flex-col gap-6 p-5">
    @for (group of form.controls.rooms.controls; track group) {
      <section [formGroup]="group" class="flex flex-col gap-6 rounded-lg p-3 shadow-sm">
        <!-- Тип комнат -->
        <fieldset class="flex max-lg:flex-col gap-3">
          <div class="lg:w-30 lg:text-end font-medium">Тип комнаты:</div>

          <data-list-options formControlName="rooms" [items]="rooms()">
            <div class="flex flex-wrap gap-3">
              @for (item of rooms(); track item) {
                <data-list-option [value]="item" [icon]="item.icon">{{ item.title }}</data-list-option>
              }
            </div>
          </data-list-options>
        </fieldset>

        <!-- Освещение -->
        <fieldset class="flex max-lg:flex-col gap-3">
          <div class="lg:w-30 lg:text-end font-medium">Освещение:</div>

          <data-list-options formControlName="lightings" [items]="lightins()">
            <div class="flex flex-wrap gap-3">
              @for (item of lightins(); track item) {
                <data-list-option [value]="item" [icon]="item.icon">{{ item.title }}</data-list-option>
              }
            </div>
          </data-list-options>
        </fieldset>

        <!-- Площадь -->
        <fieldset class="flex max-lg:flex-col gap-3">
          <div class="lg:w-30 lg:text-end font-medium">Площадь:</div>

          <div class="flex-1">
            <app-zoom-controller formControlName="size"></app-zoom-controller>
          </div>
        </fieldset>

        <fieldset class="flex max-lg:flex-col gap-3">
          <div class="lg:w-30 lg:text-end font-medium">Число углов:</div>

          <div class="flex-1">
            <tui-textfield tuiTextfieldSize="m" [tuiTextfieldCleaner]="false">
              <label tuiLabel>Число углов</label>

              <input tuiInputNumber postfix=" м²" [step]="1" [min]="1" [max]="10" formControlName="size" />
            </tui-textfield>
          </div>
        </fieldset>

        <!-- Описание -->
        <fieldset class="flex max-lg:flex-col gap-3">
          <div class="lg:w-30 lg:text-end font-medium">Описание:</div>

          <div class="flex-1">
            <tui-textfield [tuiTextfieldCleaner]="false">
              <label tuiLabel>Введите текст</label>
              <textarea tuiTextarea formControlName="description" [min]="2" [max]="4"></textarea>
            </tui-textfield>
          </div>
        </fieldset>
      </section>
    }

    <!-- Rooms -->
    <!-- @for (item of form.controls.rooms.value; track item) {
      <fieldset class="flex max-lg:flex-col gap-3">
        <div class="lg:w-30 lg:text-end font-medium flex justify-end">
          <data-list-option [value]="item" [icon]="item.icon">{{ item.title }}</data-list-option>
        </div>

        <div class="flex-1">
          <tui-textfield tuiTextfieldSize="m" [tuiTextfieldCleaner]="false">
            <label tuiLabel>Число углов</label>

            <input tuiInputNumber postfix=" м²" [step]="1" [min]="1" [max]="10" ngModel />
          </tui-textfield>
        </div>
      </fieldset>
    } -->

    <!-- <fieldset>
      <tui-textfield tuiChevron [tuiTextfieldCleaner]="false">
        <label tuiLabel>Тип потолка</label>
        <input tuiSelect formControlName="type" />
        <tui-data-list-wrapper *tuiDropdown new [items]="typeOptions()" />
      </tui-textfield>
    </fieldset> -->

    <footer class="flex justify-center gap-4">
      <a [routerLink]="['/orders']" class="btn btn-sm md:w-100 max-md:flex-1" type="submit">Отмена</a>

      <button class="btn-primary btn-sm md:w-100 max-md:flex-1" type="submit">Сохранить</button>
    </footer>
  </div>
</form>
