<div class="bg-white-chocolate py-5 --md:my-8 --my-6">
  <div class="container mx-auto flex flex-col gap-5">
    <header class="text-center flex flex-col gap-2 sm:gap-3">
      <h2 class="md:text-4xl text-2xl">Остались вопросы?</h2>

      <div class="md:w-175 mx-auto text-gray-500">Оставьте номер телефона для консультации.</div>
    </header>

    <!-- <h3 class="font-medium text-xl">Остались вопросы? Напишите нам.</h3> -->

    <!-- <h2 class="md:text-2xl text-center">Остались вопросы? Оставьте номер телефона для консультации.</h2> -->

    <section class="sm:mx-auto flex flex-col gap-2 sm:min-w-130 mx-4">
      <form [formGroupStore]="'any-questions'" [formGroup]="form" class="grid grid-cols-2 gap-3" (submit)="formSubmit()">
        @defer {
          <tui-textfield [tuiTextfieldCleaner]="false">
            <label tuiLabel>Укажите телефон</label>
            <input tuiInputPhone formControlName="phone" mask="+7(###)###-##-##" />
          </tui-textfield>
        } @placeholder {
          <tui-textfield [tuiTextfieldCleaner]="false">
            <label tuiLabel>Укажите телефон</label>
            <input tuiInputPhone formControlName="phone" mask="+7(###)###-##-##" />
          </tui-textfield>
        }

        <label tuiLabel class="text-sm">
          <input tuiCheckbox type="checkbox" formControlName="checked" />
          <small class="text-sm">
            Я соглашаюсь с правилами по обработке <a class="cursor-pointer underline" >персональных данных</a>
          </small>
        </label>

        <button class="btn-primary" type="submit">Отправить</button>
      </form>

      <!-- <small> *Это вас ничего не обязывает. </small> -->
    </section>
  </div>
</div>
