<div
  class="border-input relative flex w-full items-center rounded-md border shadow-xs transition-[color,box-shadow] outline-none min-w-0  has-[&gt;[data-align=inline-start]]:[&amp;&gt;input]:ps-2 has-[&gt;[data-align=inline-end]]:[&amp;&gt;input]:pe-2 has-[&gt;[data-align=block-start]]:h-auto has-[&gt;[data-align=block-start]]:flex-col has-[&gt;[data-align=block-end]]:h-auto has-[&gt;[data-align=block-end]]:flex-col has-[&gt;[data-align=block-end]]:[&amp;&gt;input]:pt-3 has-[[data-slot=input-group-control]:focus-visible]:border-ring has-[[data-slot=input-group-control]:focus-visible]:ring-ring/50 has-[[data-slot=input-group-control]:focus-visible]:ring-[3px] has-[&gt;.ng-invalid.ng-touched]:ring-destructive/20"
>
  <textarea
    placeholder="Text..."
    data-slot="input-group-control"
    class="border-input placeholder:text-muted-foreground focus-visible:border-ring focus-visible:ring-ring/50 flex [field-sizing:content] min-h-16 w-full px-3 text-base transition-[color,box-shadow] outline-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm [&amp;.ng-invalid.ng-touched]:border-destructive flex-1 resize-none rounded-none border-0 bg-transparent py-3 shadow-none focus-visible:ring-0 "
  ></textarea>

  <div
    class="text-muted-foreground flex h-auto cursor-text items-center gap-2 py-1.5 text-sm font-medium select-none group-data-[disabled=true]/input-group:opacity-50 [&amp;&gt;kbd]:rounded-[calc(var(--radius)-5px)] [&amp;&gt;ng-icon:not([class*='text-'])]:text-base order-last w-full justify-start px-3 pb-3 group-has-[&gt;input]/input-group:pb-2.5 [.border-t]:pt-3"
    data-align="block-end"
  >
    <button
      class="border shrink-0 justify-center whitespace-nowrap transition-all outline-none select-none data-disabled:pointer-events-none data-disabled:opacity-50 [&amp;_ng-icon]:pointer-events-none [&amp;_ng-icon]:shrink-0 flex items-center gap-2 text-sm shadow-none size-6 p-0 has-[&gt;ng-icon]:p-0 rounded-full"
      type="button"
    >
      <ng-icon role="img" name="lucidePlus" aria-hidden="true"></ng-icon>
    </button>

    <span
      class="text-muted-foreground flex items-center gap-2 text-sm [&amp;_ng-icon]:pointer-events-none [&amp;_ng-icon:not([class*='text-'])]:text-base ml-auto"
      >52% used</span
    >

    <button
      class="border shrink-0 justify-center whitespace-nowrap transition-all outline-none select-none data-disabled:pointer-events-none data-disabled:opacity-50 [&amp;_ng-icon]:pointer-events-none [&amp;_ng-icon]:shrink-0 flex items-center gap-2 text-sm shadow-none size-6 p-0 has-[&gt;ng-icon]:p-0 rounded-full"
      tabindex="-1"
      type="button"
    >
      <ng-icon role="img" name="lucideArrowUp" aria-hidden="true"></ng-icon><span class="sr-only">Send</span>
    </button>
  </div>
</div>
