<div class="container mx-auto my-8 flex flex-col gap-4">
  <!-- <header class="text-center flex flex-col gap-2 sm:gap-3">
      <h2 class="md:text-4xl text-2xl">Индивидуальный заказ, просто и понятно.</h2>
    </header> -->

  <section class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4 mx-auto">
    <article class="flex flex-col gap-3 text-center items-center">
      <ng-icon src="/icons/way-we-work-1.svg" class="text-6xl" />

      <h4 class="font-semibold text-2xl">Сотни бесплатных образцов тканей</h4>

      <p class="text-base mt-auto">
        Высококачественные, экологически чистые материалы, подходящие к любому стилю интерьера.
      </p>

      <!-- <a class="mt-auto">Заказать образцы</a> -->
    </article>

    <article class="flex flex-col gap-3 text-center items-center">
      <ng-icon src="/icons/way-we-work-2.svg" class="text-6xl" />

      <h4 class="font-semibold text-2xl">Бесплатная услуга по разработке дизайна.</h4>

      <p class="text-base mt-auto">
        Индивидуальный дизайн штор, соответствующих вашему уникальному стилю и пространству.
      </p>

      <!-- <a class="mt-auto">Получить помощь в разработке дизайна</a> -->
    </article>

    <article class="flex flex-col gap-3 text-center items-center">
      <ng-icon src="/icons/way-we-work-3.svg" class="text-6xl" />

      <h4 class="font-semibold text-2xl">Создано вручную специально для вас</h4>

      <p class="text-base mt-auto">Изготавливается на заказ опытными мастерами с учетом ваших точных потребностей.</p>

      <!-- <a class="mt-auto">Настройте сейчас</a> -->
    </article>

    <article class="flex flex-col gap-3 text-center items-center">
      <ng-icon src="/icons/way-we-work-4.svg" class="text-6xl" />

      <h4 class="font-semibold text-2xl">Бесплатная доставка</h4>

      <p class="text-base mt-auto">
        Наслаждайтесь быстрой и надежной доставкой каждого заказа без дополнительных сборов за доставку.
      </p>

      <!-- <a class="mt-auto">Купить сейчас</a> -->
    </article>
  </section>
</div>

<!-- <div class="container mx-auto my-8 flex flex-col gap-4">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-2xl">Как мы работаем</h2>
  </header>

  <section class="flex flex-col gap-4">
    <div class="flex flex-col gap-3">
      <p>1) Бесплатно осуществим выезд в любой район Москвы и МО в удобный для Вас день и время.</p>
      <p>
        2) На встрече продемонстрируем все образцы материалов, произведём замеры, поможем с выбором модели и рассчитаем
        стоимость в разных ценовых категориях.
      </p>
      <p>3) Изготовим заказ на собственном производстве точно в срок, произведем монтаж.</p>

      <footer class="flex justify-center gap-3">
        <button inviteModalClick class="btn btn-primary">Пригласить дизайнера</button>
      </footer>
    </div>
  </section>
</div> -->
