.way-we-work {
  // background: url(/img/way-we-work-bg.png) no-repeat center 0;

  p {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    color: #3f4c4d;
    //width: 375px;
    line-height: 18px;
    font-family: RotondaC;
  }

  h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .block-item {
    [data-num] {
      position: relative;
      &::before {
        content: attr(data-num);
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(94 204 94);
        position: absolute;
        text-align: center;
        color: white;
      }
    }

    &:nth-child(odd) {
      h4,
      p {
        text-align: right;
      }
      [data-num]::before {
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
      }
    }

    &:nth-child(even) {
      h4 {
        text-align: left;
      }
      [data-num]::before {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
      }
    }

    &::after {
      // content: '';
      display: block;
      background: url(/img/way-we-work-sp.png) no-repeat center 8px;
      width: 96px;
      height: 151px;
      border-radius: inherit;
      border: none;
    }
  }
}
