<div class="-text-lg">
  <section class="border-b-1 border-gray-200 max-lg:px-3">
    <ol class="md:container md:mx-auto flex items-center gap-2 h-16">
      <li class="leading-0 mt-[-7px]">
        <a [routerLink]="['/']">
          <img src="/logo/shtorivdom.svg" style="width: 9rem" />
        </a>
      </li>

      <li>
        <nav hlmNavigationMenu openOn="hover" class="flex max-lg:hidden">
          <ul hlmNavigationMenuList class="flex-wrap gap-5">
            @for (item of navMenu(); track item; let index = $index) {
              <li hlmNavigationMenuItem class="hidden md:flex">
                @if (item.link) {
                  <a hlmNavigationMenuLink routerLinkActive="font-semibold" [routerLink]="item.link">{{
                    item.title
                  }}</a>
                } @else {
                  <button hlmNavigationMenuTrigger class="px-0 cursor-pointer">
                    {{ item.title }}

                    @if (item.children?.length) {
                      <ng-icon
                        name="lucideChevronDown"
                        class="relative top-px ml-1 size-3 transition duration-300 group-data-[state=open]:rotate-180"
                      />
                    }
                  </button>

                  @if (item.children?.length; as count) {
                    <hlm-navigation-menu-content *hlmNavigationMenuPortal class="shadow bg-white grid-cols-3">
                      <div class="p-2">
                        <ul class="grid gap-1 min-w-40">
                          @for (child of item.children; track $index) {
                            <li class="flex flex-col gap-0">
                              @if (child.children?.length) {
                                <div class="leading-none font-medium py-1 uppercase">{{ child.title }}</div>

                                @for (sub of child.children; track sub) {
                                  <a
                                    hlmNavigationMenuLink
                                    routerLinkActive="font-semibold"
                                    [routerLink]="sub.link"
                                    [queryParams]="sub.queryParams ?? {}"
                                    class="leading-none text-md py-1 text-gray-500"
                                  >
                                    {{ sub.title }}
                                  </a>
                                }
                              } @else {
                                <a
                                  hlmNavigationMenuLink
                                  routerLinkActive="font-semibold"
                                  [routerLink]="child.link"
                                  [queryParams]="child.queryParams ?? {}"
                                >
                                  <div class="flex flex-col gap-1">
                                    @if (child.title) {
                                      <div class="leading-none">{{ child.title }}</div>
                                    }
                                    @if (child.description) {
                                      <div class="text-muted-foreground line-clamp-2">{{ child.description }}</div>
                                    }
                                  </div>
                                </a>
                              }
                            </li>
                          }
                        </ul>
                      </div>
                    </hlm-navigation-menu-content>
                  }
                }
              </li>
            }
          </ul>
        </nav>

        <div class="hidden max-lg:flex">
          <ng-icon class="cursor-pointer text-lg" name="lucideMenu" (click)="onOpen()" />
        </div>
      </li>

      <li class="ms-auto flex gap-4 items-center">
        <a
          [attr.href]="addressLink"
          target="_blank"
          class="flex-1 underline decoration-dashed flex gap-1 items-center cursor-pointer"
        >
          <div class="leading-0">
            <ng-icon name="lucideNavigation" />
          </div>
          <address class="max-md:text-sm truncate">{{ address }}</address>
        </a>

        <div class="flex items-center gap-1 max-md:text-sm">
          <div class="leading-0">
            <ng-icon name="lucideClock4" />
          </div>
          10:00–20:00 / Без выходных
        </div>
      </li>
    </ol>
  </section>

  <tui-drawer *tuiPopup="open()" direction="start" class="drawer" [overlay]="true" (click.self)="onClose()">
    <header class="sticky top-0">
      <h2 tuiHeader class="flex items-center">
        <div tuiTitle class="font-normal text-sm uppercase">
          <span class="text-md font-normal uppercase">Меню</span>
        </div>
        <div tuiAccessories>
          <ng-icon class="cursor-pointer text-lg" name="lucideX" (click)="onClose()" />
        </div>
      </h2>
    </header>

    <section class="flex flex-col gap-2">
      <nav>
        @for (value of navMenu(); track value; let index = $index) {
          <tui-tree [childrenHandler]="handler" [content]="menuItem" [tuiTreeController]="true" [value]="value" />
        }
      </nav>

      <ng-template #menuItem let-value let-node="node">
        <div [style.opacity]="1 / node.level">
          @if (value.link) {
            <a
              routerLinkActive="font-semibold"
              class="py-1 block"
              [routerLink]="value.link"
              [queryParams]="value.queryParams ?? {}"
              (click)="onClose()"
            >
              @if (value.icon) {
                <tui-icon class="t-icon" [icon]="value.icon" />
              }
              {{ value.title }}
            </a>
          } @else {
            <span class="py-1 block">
              @if (value.icon) {
                <tui-icon class="t-icon" [icon]="value.icon" />
              }
              {{ value.title }}
            </span>
          }
        </div>
      </ng-template>
    </section>
  </tui-drawer>
</div>

<section class="w-full h-full"></section>
