<div
  class="border-input relative rounded-md border shadow-xs transition-[color,box-shadow] outline-none min-w-0 has-[&gt;[data-align=inline-start]]:[&amp;&gt;input]:ps-2 has-[&gt;[data-align=inline-end]]:[&amp;&gt;input]:pe-2 has-[&gt;[data-align=block-end]]:h-auto has-[&gt;[data-align=block-end]]:flex-col has-[&gt;[data-align=block-end]]:[&amp;&gt;input]:pt-3 has-[[data-slot=input-group-control]:focus-visible]:border-ring has-[[data-slot=input-group-control]:focus-visible]:ring-ring/50 has-[[data-slot=input-group-control]:focus-visible]:ring-[3px] has-[&gt;.ng-invalid.ng-touched]:ring-destructive/20"
>
  @if (edited()) {
    <div class="flex p-3 w-full">
      <div class="flex-1">
        <textarea
          placeholder="Text..."
          data-slot="input-group-control"
          class="border-input placeholder:text-muted-foreground focus-visible:border-ring focus-visible:ring-ring/50 flex [field-sizing:content] min-h-16 w-full px-3 text-base transition-[color,box-shadow] outline-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm flex-1 resize-none rounded-none border-0 bg-transparent py-3 shadow-none focus-visible:ring-0"
        ></textarea>

        <div
          class="text-muted-foreground flex h-auto cursor-text items-center gap-2 py-1.5 text-sm font-medium select-none group-data-[disabled=true]/input-group:opacity-50 order-last w-full justify-start px-3 pb-3"
          data-align="block-end"
        >
          <button
            class="border shrink-0 justify-center whitespace-nowrap transition-all outline-none select-none data-disabled:pointer-events-none data-disabled:opacity-50 flex items-center gap-2 text-sm shadow-none size-6 p-0 rounded-full"
            type="button"
          >
            <ng-icon role="img" name="lucidePlus" aria-hidden="true"></ng-icon>
          </button>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <button
          class="spartan-button "
          (click)="cancelEdit()"
        >
          Cancel
        </button>

        <button
          class="spartan-button "
          (click)="cancelEdit()"
        >
          Save
        </button>
      </div>
    </div>
  } @else {
    <div class="flex p-3 w-full">
      <div class="flex-1">
        <app-annotation-view></app-annotation-view>
      </div>

      <div>
        <button
          class="spartan-button "
          (click)="startEdit()"
        >
          Edit
        </button>
      </div>
    </div>
  }
</div>
