/*
  Thin (Hairline)	100
  Extra Light (Ultra Light)	200
  Light	300
  Normal (Regular)	400
  Medium	500
  Semi Bold (Demi Bold)	600
  Bold	700
  Extra Bold (Ultra Bold)	800
  Black (Heavy)	900
*/

$font-path: '/fonts/gilroy';

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-ExtraBold.eot');
  src:
    local('Gilroy ExtraBold'),
    local('Gilroy-ExtraBold'),
    url('#{$font-path}/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-ExtraBold.woff') format('woff'),
    url('#{$font-path}/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-Heavy.eot');
  src:
    local('Gilroy Heavy'),
    local('Gilroy-Heavy'),
    url('#{$font-path}/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-Heavy.woff') format('woff'),
    url('#{$font-path}/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-LightItalic.eot');
  src:
    local('Gilroy Light Italic'),
    local('Gilroy-LightItalic'),
    url('#{$font-path}/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-LightItalic.woff') format('woff'),
    url('#{$font-path}/Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-ThinItalic.eot');
  src:
    local('Gilroy Thin Italic'),
    local('Gilroy-ThinItalic'),
    url('#{$font-path}/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-ThinItalic.woff') format('woff'),
    url('#{$font-path}/Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-BlackItalic.eot');
  src:
    local('Gilroy Black Italic'),
    local('Gilroy-BlackItalic'),
    url('#{$font-path}/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-BlackItalic.woff') format('woff'),
    url('#{$font-path}/Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-BoldItalic.eot');
  src:
    local('Gilroy Bold Italic'),
    local('Gilroy-BoldItalic'),
    url('#{$font-path}/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-BoldItalic.woff') format('woff'),
    url('#{$font-path}/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-SemiBold.eot');
  src:
    local('Gilroy SemiBold'),
    local('Gilroy-SemiBold'),
    url('#{$font-path}/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-SemiBold.woff') format('woff'),
    url('#{$font-path}/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-UltraLightItalic.eot');
  src:
    local('Gilroy UltraLight Italic'),
    local('Gilroy-UltraLightItalic'),
    url('#{$font-path}/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-UltraLightItalic.woff') format('woff'),
    url('#{$font-path}/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-SemiBoldItalic.eot');
  src:
    local('Gilroy SemiBold Italic'),
    local('Gilroy-SemiBoldItalic'),
    url('#{$font-path}/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-SemiBoldItalic.woff') format('woff'),
    url('#{$font-path}/Gilroy-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-Light.eot');
  src:
    local('Gilroy Light'),
    local('Gilroy-Light'),
    url('#{$font-path}/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-Light.woff') format('woff'),
    url('#{$font-path}/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-MediumItalic.eot');
  src:
    local('Gilroy Medium Italic'),
    local('Gilroy-MediumItalic'),
    url('#{$font-path}/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-MediumItalic.woff') format('woff'),
    url('#{$font-path}/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-ExtraBoldItalic.eot');
  src:
    local('Gilroy ExtraBold Italic'),
    local('Gilroy-ExtraBoldItalic'),
    url('#{$font-path}/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-ExtraBoldItalic.woff') format('woff'),
    url('#{$font-path}/Gilroy-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-Regular.eot');
  src:
    local('Gilroy Regular'),
    local('Gilroy-Regular'),
    url('#{$font-path}/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-Regular.woff') format('woff'),
    url('#{$font-path}/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-HeavyItalic.eot');
  src:
    local('Gilroy Heavy Italic'),
    local('Gilroy-HeavyItalic'),
    url('#{$font-path}/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-HeavyItalic.woff') format('woff'),
    url('#{$font-path}/Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-Medium.eot');
  src:
    local('Gilroy Medium'),
    local('Gilroy-Medium'),
    url('#{$font-path}/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-Medium.woff') format('woff'),
    url('#{$font-path}/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-RegularItalic.eot');
  src:
    local('Gilroy Regular Italic'),
    local('Gilroy-RegularItalic'),
    url('#{$font-path}/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-RegularItalic.woff') format('woff'),
    url('#{$font-path}/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-UltraLight.eot');
  src:
    local('Gilroy UltraLight'),
    local('Gilroy-UltraLight'),
    url('#{$font-path}/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-UltraLight.woff') format('woff'),
    url('#{$font-path}/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-Bold.eot');
  src:
    local('Gilroy Bold'),
    local('Gilroy-Bold'),
    url('#{$font-path}/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-Bold.woff') format('woff'),
    url('#{$font-path}/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-Thin.eot');
  src:
    local('Gilroy Thin'),
    local('Gilroy-Thin'),
    url('#{$font-path}/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-Thin.woff') format('woff'),
    url('#{$font-path}/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}/Gilroy-Black.eot');
  src:
    local('Gilroy Black'),
    local('Gilroy-Black'),
    url('#{$font-path}/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Gilroy-Black.woff') format('woff'),
    url('#{$font-path}/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
