# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.angular
mockups/assets/theme.js
mockups/landing-original
mockups/landing-original-2
mockups/landing-original-3
mockups/landing-original-4
mockups/landing-original-5
mockups/landing-original-6
mockups/landing-original-7
