{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "**/*.html",
      "options": {
        "parser": "angular",
        "trailingComma": "none",
        "bracketSpacing": false,
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": "mockups/**/*.html",
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "css",
        "bracketSpacing": true
      }
    }
  ]
}
