<app-main-header></app-main-header>

<app-breadcrumbs-header [items]="breadcrumbs()" />

<div id="catalog-detail" class="container mx-auto my-8 flex flex-col gap-6">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-3xl">{{ title() }}</h2>

    @if (text()) {
      <div class="md:w-175 mx-auto text-gray-500">{{ text() }}</div>
    }
  </header>
</div>

<section class="container mx-auto max-sm:px-5 md:my-8 my-6">
  <app-swiper-full-images [item]="item()" />
</section>

<section class="container mx-auto flex gap-4 items-center rounded-xl bg-you-love p-5">
  <div class="flex-1">Закажите выезд дизайнера, и он поможет вам определиться в этом прекрасном многообразии.</div>

  <button inviteModalClick class="btn btn-primary">Пригласить дизайнера</button>
</section>

<section class="container mx-auto max-sm:px-5 md:my-8 my-6">
  <router-outlet />
</section>

@if (prices().length) {
  <section id="prices" class="container mx-auto max-sm:px-5 md:my-8 my-6">
    <header class="text-start flex flex-col gap-2 my-4">
      <h3 class="text-md md:text-xl uppercase font-semibold">Цены: {{ title() }}</h3>
      <small class="text-gray-500">
        *Цены ориентировочные. Точная стоимость — после бесплатного замера и выбора ткани.
      </small>
    </header>

    <app-price-list-brand-table [tableRows]="prices()" />
  </section>
}

<app-place-an-order />

<app-way-we-work id="way-we-work"></app-way-we-work>

<app-main-banner-form />

<app-main-questions></app-main-questions>

<app-main-footer></app-main-footer>
