<div class="container mx-auto my-10 flex flex-col gap-4">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-2xl">Цены / стоимость</h2>
  </header>

  <section class="flex flex-wrap gap-4 mx-auto">
    <article class="w-120 flex flex-col gap-3 bg-you-love p-3 rounded-sm">
      <!-- <picture>
        <img src="/catalog/image-1.jpg" />
      </picture> -->

      <h3 class="text-2xl font-medium">Стандарт</h3>

      <div>от 39 000 руб</div>

      <p>Шторы прямого кроя из ткани класса стандарт на стандартной шторной ленте без подкладки</p>

      <ul>
        <li>Тюль с пошивом</li>
        <li>Портьеры с пошивом</li>
        <li>Алюминиевый потолочный карниз 2-х рядный</li>
        <li>Авторский надзор проекта</li>
      </ul>

      <div>
        <h4 class="text-xl font-medium">В подарок</h4>

        <ul>
          <li>Выезд дизайнера и замерщика с образцами тканей</li>
          <li>Эскиз 1 вариант</li>
          <li>Наволочка под интерьер</li>
        </ul>

        <small>Срок изготовления от 14 дней</small>
      </div>
    </article>

    <article class="w-120 flex flex-col gap-3 bg-you-love p-3 rounded-sm">
      <!-- <picture>
        <img src="/catalog/image-1.jpg" />
      </picture> -->

      <h3 class="text-2xl font-medium">Премиум</h3>

      <div>от 58 000 руб</div>

      <p>Шторы прямого кроя из ткани класса премиум с декором, кантом, на фигурной шторной ленте</p>

      <ul>
        <li>Тюль с пошивом</li>
        <li>Портьеры с пошивом</li>
        <li>Алюминиевый потолочный карниз 2-х рядный улучшенного скольжения</li>
        <li>Подхват-декоративная кисть</li>
      </ul>

      <div>
        <h4 class="text-xl font-medium">В подарок</h4>

        <ul>
          <li>Выезд дизайнера и замерщика с образцами тканей</li>
          <li>Эскиз 1 вариант</li>
          <li>Наволочка под интерьер</li>
        </ul>

        <small>Срок изготовления от 12 дней</small>
      </div>
    </article>

    <article class="w-120 flex flex-col gap-3 bg-you-love p-3 rounded-sm">
      <!-- <picture>
        <img src="/catalog/image-1.jpg" />
      </picture> -->

      <h3 class="text-2xl font-medium">Люкс</h3>

      <div>от 85 000 руб</div>

      <p>Шторы прямого кроя из ткани класса премиум с декором, кантом, на фигурной шторной ленте</p>

      <ul>
        <li>Тюль с пошивом</li>
        <li>Портьеры с пошивом</li>
        <li>Алюминиевый потолочный карниз 2-х рядный улучшенного скольжения</li>
        <li>Авторский надзор проекта</li>
      </ul>

      <div>
        <h4 class="text-xl font-medium">В подарок</h4>

        <ul>
          <li>Выезд ведущего дизайнера и замерщика с образцами тканей</li>
          <li>3Д эскизы в 3-х вариантах</li>
          <li>Наволочка под интерьер</li>
        </ul>

        <small>Срок изготовления от 10 дней</small>
      </div>
    </article>
  </section>
</div>
