<div class="mx-auto my-10 flex flex-col gap-4">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-2xl">Цены / стоимость</h2>
  </header>

  <section class="flex flex-wrap gap-4 mx-auto justify-center">
    <article class="w-120 flex flex-col gap-3 bg-you-love p-3 rounded-sm">
      <!-- <picture>
        <img src="/catalog/image-1.jpg" />
      </picture> -->

      <h3 class="text-2xl font-medium">Стандарт</h3>

      <div class="text-primary text-xl">от <strong>39 000</strong> руб</div>

      <p>Шторы прямого кроя из ткани класса стандарт на стандартной шторной ленте без подкладки</p>

      <ul>
        <li class="flex items-center gap-2">
          <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
          Тюль с пошивом
        </li>
        <li class="flex items-center gap-2">
          <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
          Портьеры с пошивом
        </li>
        <li class="flex items-center gap-2">
          <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
          Алюминиевый потолочный карниз 2-х рядный
        </li>
        <li class="flex items-center gap-2">
          <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
          Авторский надзор проекта
        </li>
      </ul>

      <div class="flex flex-col gap-1">
        <h4 class="text-xl font-medium flex items-center gap-2">
          <div class="leading-0"><ng-icon name="lucideGift" class="text-cardboard text-xl" /></div>
          В подарок
        </h4>

        <ul>
          <li class="flex items-center gap-2">
            <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
            Выезд дизайнера и замерщика с образцами тканей
          </li>
          <li class="flex items-center gap-2">
            <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
            Эскиз 1 вариант
          </li>
          <li class="flex items-center gap-2">
            <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
            Наволочка под интерьер
          </li>
        </ul>
      </div>

      <small class="mt-auto">Срок изготовления от 14 дней</small>
    </article>

    <article class="w-120 flex flex-col gap-3 bg-you-love p-3 rounded-sm">
      <!-- <picture>
        <img src="/catalog/image-1.jpg" />
      </picture> -->

      <h3 class="text-2xl font-medium">Премиум</h3>

      <div class="text-primary text-xl">от <strong>58 000</strong> руб</div>

      <p>Шторы прямого кроя из ткани класса премиум с декором, кантом, на фигурной шторной ленте</p>

      <ul>
        <li class="flex items-center gap-2">
          <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
          Тюль с пошивом
        </li>
        <li class="flex items-center gap-2">
          <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
          Портьеры с пошивом
        </li>
        <li class="flex items-center gap-2">
          <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
          Алюминиевый потолочный карниз 2-х рядный улучшенного скольжения
        </li>
        <li class="flex items-center gap-2">
          <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
          Подхват-декоративная кисть
        </li>
      </ul>

      <div class="flex flex-col gap-1">
        <h4 class="text-xl font-medium flex items-center gap-2">
          <div class="leading-0"><ng-icon name="lucideGift" class="text-cardboard text-xl" /></div>
          В подарок
        </h4>

        <ul>
          <li class="flex items-center gap-2">
            <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
            Выезд дизайнера и замерщика с образцами тканей
          </li>
          <li class="flex items-center gap-2">
            <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
            Эскиз 1 вариант
          </li>
          <li class="flex items-center gap-2">
            <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
            Наволочка под интерьер
          </li>
        </ul>
      </div>

      <small class="mt-auto">Срок изготовления от 12 дней</small>
    </article>

    <article class="w-120 flex flex-col gap-3 bg-you-love p-3 rounded-sm">
      <!-- <picture>
        <img src="/catalog/image-1.jpg" />
      </picture> -->

      <h3 class="text-2xl font-medium">Люкс</h3>

      <div class="text-primary text-xl">от <strong>85 000</strong> руб</div>

      <p>Шторы прямого кроя из ткани класса премиум с декором, кантом, на фигурной шторной ленте</p>

      <ul>
        <li class="flex items-center gap-2">
          <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
          Тюль с пошивом
        </li>
        <li class="flex items-center gap-2">
          <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
          Портьеры с пошивом
        </li>
        <li class="flex items-center gap-2">
          <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
          Алюминиевый потолочный карниз 2-х рядный улучшенного скольжения
        </li>
        <li class="flex items-center gap-2">
          <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
          Авторский надзор проекта
        </li>
      </ul>

      <div class="flex flex-col gap-1">
        <h4 class="text-xl font-medium flex items-center gap-2">
          <div class="leading-0"><ng-icon name="lucideGift" class="text-cardboard text-xl" /></div>
          В подарок
        </h4>

        <ul>
          <li class="flex items-center gap-2">
            <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
            Выезд ведущего дизайнера и замерщика с образцами тканей
          </li>
          <li class="flex items-center gap-2">
            <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
            Эскиз 1 вариант
          </li>
          <li class="flex items-center gap-2">
            <div class="leading-0"><ng-icon name="lucideCheck" class="text-cardboard text-xl" /></div>
            Наволочка под интерьер
          </li>
        </ul>
      </div>

      <small class="mt-auto">Срок изготовления от 10 дней</small>
    </article>
  </section>
</div>
