<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<form tuiForm [formGroup]="form" (submit)="formSubmit()">
  <tui-textfield>
    <label tuiLabel>Title</label>
    <input formControlName="title" tuiTextfield />
  </tui-textfield>

  <tui-error formControlName="title" [error]="[] | tuiFieldError | async" />

  <tui-textfield>
    <label tuiLabel>Name</label>
    <input formControlName="name" tuiTextfield />
  </tui-textfield>
  <tui-error formControlName="name" [error]="[] | tuiFieldError | async" />

  <tui-textfield tuiChevron [content]="content">
    <label tuiLabel>Type</label>
    <input tuiComboBox formControlName="type" placeholder="Select Type" />
    <ng-template #content let-value>
      @if (attrTypeList() | keyListValue: 'type' : value; as item) {
        <div class="flex items-center gap-2">
          <ng-icon hlm size="md" [name]="item.icon" />
          {{ item.title }}
        </div>
      }
    </ng-template>

    <tui-data-list *tuiTextfieldDropdown>
      @for (item of attrTypeList(); track $index) {
        <button new tuiOption type="button" [value]="item.type">
          <span class="flex gap-2">
            <ng-icon size="md" [name]="item.icon" />
            {{ item.title }}
          </span>
        </button>
      }
    </tui-data-list>
  </tui-textfield>

  <tui-error formControlName="type" [error]="[] | tuiFieldError | async" />

  <tui-textfield tuiChevron>
    <label tuiLabel>Select Entity</label>

    <input tuiComboBox formControlName="relationId" />

    <tui-data-list virtualScrollHost *tuiTextfieldDropdown>
      <cdk-virtual-scroll-viewport itemSize="35" appendOnly class="example-viewport">
        <button
          *cdkVirtualFor="let item of [] | virtualScrollPaginate: serviceSearch()"
          new
          tuiOption
          type="button"
          [value]="item.id"
          class="example-item"
        >
          {{ item.title }}
        </button>
      </cdk-virtual-scroll-viewport>
      <tui-loader />
    </tui-data-list>
  </tui-textfield>

  <pre>{{ form.controls.type.value }}</pre>

  <!-- @switch ($any(form.controls.type)) { 
    @case ('1')  { 
      Case A. 
    }
    @case ('2')
    @case ('3')
    { 
      Case B or C. 
    } 
  } -->

  <tui-textfield>
    <label tuiLabel>Description</label>
    <textarea formControlName="description" tuiTextarea></textarea>
  </tui-textfield>

  <tui-textfield>
    <label tuiLabel>Order</label>
    <input formControlName="order" tuiInputNumber />
  </tui-textfield>

  <!-- <label tuiLabel>
    <input tuiCheckbox type="checkbox" size="m" formControlName="readonly" />
    Readonly
  </label> -->

  <label tuiLabel>
    <input tuiCheckbox type="checkbox" size="m" formControlName="required" />
    Required
  </label>

  <!-- <label tuiLabel>
    <input tuiCheckbox type="checkbox" size="m" formControlName="disable" />
    Disable
  </label> -->

  <footer>
    <!-- <button
      appearance="secondary"
      tuiButton
      type="button"
      size="m"
      (click)="modalClose()"
    >
      Cancel
    </button> -->

    <button variant="outline" hlmBtn (click)="modalClose()">Cancel</button>

    <!--     <button tuiButton type="submit" size="m">Submit</button> -->
    <button hlmBtn type="submit">Submit</button>
  </footer>
</form>
