<header class="container mx-auto py-2">
  <section class="flex">
    <div>
      БЦ «Орбита»
      <address>г. Москва, ул. Кулакова, д. 20 стр. 1А.</address>
      <a class="cursor-pointer">Схема проезда</a>
    </div>

    <div>
      <div>
        Режим работы:
      </div>
      <div>10:00 - 21:00 / Без выходных</div>
      ПО ПРЕДВАРИТЕЛЬНОЙ ЗАПИСИ
    </div>

    <div>
      <div>Напишите нам:</div>
      <a href="mailto:info+480577@amelistudio.com">info+480577@amelistudio.com</a>
    </div>

    <div>
      <div>Заказать обратный звонок</div>
      <a href="tel:84957951764">+7(495)795-17-64</a>
    </div>
  </section>

  <section class="flex justify-between">
    <div class="text-4xl font-bold">SITE LOGO</div>

    <div>
      <button class="btn btn-primary btn-sm">Пригласить дизайнера-замерщика бесплатно</button>
    </div>
  </section>

  <nav>
    <ol class="flex gap-4">
      <li><a class="cursor-pointer py-3 block">Шторы</a></li>
      <li><a class="cursor-pointer py-3 block"> Римские шторы</a></li>
      <li><a class="cursor-pointer py-3 block">Рулонные шторы</a></li>
      <li><a class="cursor-pointer py-3 block">Жалюзи</a></li>
      <li><a class="cursor-pointer py-3 block">Карнизы</a></li>
      <li><a class="cursor-pointer py-3 block"> С электроприводом</a></li>
      <li><a class="cursor-pointer py-3 block"> Скошенные окна</a></li>
      <li><a class="cursor-pointer py-3 block">Шторы плиссе </a></li>
      <li><a class="cursor-pointer py-3 block">Покрывала и подушки</a></li>
    </ol>
  </nav>
</header>
