<div class="border-b-1 border-gray-200">
  <header class="container mx-auto py-2 flex flex-col gap-3">
    <section class="flex">
      <div class="flex-1">
        БЦ «Орбита»
        <address>г. Москва, ул. Кулакова, д. 20 стр. 1А.</address>
        <a class="cursor-pointer">Схема проезда</a>
      </div>

      <div class="flex-1">
        <div>
          Режим работы:
        </div>
        <div>10:00 - 21:00 / Без выходных</div>
        ПО ПРЕДВАРИТЕЛЬНОЙ ЗАПИСИ
      </div>

      <div class="flex-1">
        <div>Напишите нам:</div>
        <a href="mailto:info@deluxdrapes.ru">info@deluxdrapes.ru</a>
      </div>

      <div class="flex-1">
        <div>Заказать обратный звонок</div>
        <a href="tel:+7{{ phoneContact }}">{{ phoneContact | phoneFormat }}</a>
      </div>
    </section>
  </header>
</div>

<!-- <div class="border-b-1 border-gray-200">
  <header class="container mx-auto py-3">
    <section class="flex justify-between">
      <div class="text-4xl font-bold">Фабрика штор</div>

      <div>
        <button class="btn btn-primary">Пригласить дизайнера-замерщика бесплатно</button>
      </div>
  </section>
  </header>
</div> -->

<app-nav-menu />
