figure {
  display: inline-block;
  background-image: url(/img/application-measurement-master.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.bg-image {
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f4f3ed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
