<div class="relative">
  <div class="bg-image"></div>

  <div class="container mx-auto">
    <div class="flex max-md:flex-col gap-3 justify-center py-8">
      <!-- <section class="flex-1 flex items-bottom justify-center max-md:order-2">
        <picture>
          <img src="/images/image-12.jpg" /> 
        </picture>
      </section> -->

      <section class="flex items-center mx-auto">
        <div class="p-5 py-8 flex flex-col gap-5 h-full bg-white rounded-lg">
          <h3 class="text-3xl text-center">Оставьте заявку дизайнеру:</h3>

          <section class="flex flex-col gap-5 w-120">
            <form
              class="-textfield-no-border"
              [formGroupStore]="'main-application-measurement'"
              [formGroup]="form"
              (submit)="formSubmit()"
            >
              <section class="flex flex-col gap-4">
                <tui-textfield [tuiTextfieldCleaner]="false">
                  <label tuiLabel>Введите имя</label>
                  <input tuiInput formControlName="name" [maxlength]="100" />
                </tui-textfield>

                @defer {
                  <tui-textfield [tuiTextfieldCleaner]="false">
                    <label tuiLabel>Укажите телефон</label>
                    <input tuiInputPhone formControlName="phone" mask="+7(###)###-##-##" />
                  </tui-textfield>
                } @placeholder {
                  <tui-textfield [tuiTextfieldCleaner]="false">
                    <label tuiLabel>Укажите телефон</label>
                    <input tuiInputPhone formControlName="phone" mask="+7(###)###-##-##" />
                  </tui-textfield>
                }

                <tui-textfield tuiChevron [tuiTextfieldCleaner]="false">
                  <label tuiLabel>Удобный тип связи</label>
                  <input tuiSelect formControlName="connectionType" />
                  <tui-data-list-wrapper *tuiDropdown new [items]="typeOptions()" />
                </tui-textfield>

                <button class="btn-primary" type="submit">Отправить</button>
              </section>
            </form>

            <ul class="ms-5 flex flex-col gap-3 leading-6 text-lg">
              <!-- <li class="flex items-center gap-3">
                <div class="leading-0"><ng-icon src="/icons/check-1.svg" class="text-cardboard text-2xl" /></div>
                Собственный цех и пошив
              </li>
              <li class="flex items-center gap-3">
                <div class="leading-0"><ng-icon src="/icons/check-1.svg" class="text-cardboard text-2xl" /></div>
                Подберем шторы под любой бюджет и стиль
              </li>
              <li class="flex items-center gap-3">
                <div class="leading-0"><ng-icon src="/icons/check-1.svg" class="text-cardboard text-2xl" /></div>
                Безплатный выезд дизайнера
              </li> -->
              <!-- <li>Установка карнизов и штор</li> -->
              <!-- <li class="flex items-center gap-3">
                <div class="leading-0"><ng-icon src="/icons/check-1.svg" class="text-cardboard text-2xl" /></div>
                Гарантия качества на все работы
              </li> -->
              <!-- <li>Выезд и замер по Москве и Московской области</li> -->
              <!-- <li>Опытные дизайнеры решают задачи любой сложности</li> -->
              <!-- <li>Лидеры по отзывам Клиентов - гарантированное качество Индивидувльный пошив по вашим размерам</li> -->
            </ul>
          </section>

          <!-- <div class="flex flex-col gap-3">
          <h3 class="uppercase text-xl">Почему важен замер</h3>

          <ol class="list-disc flex flex-col gap-1">
            <li>Точность замера помещения</li>
            <li>Гарантия верной цены, с применением скидок</li>
            <li>Помощь в выборе материалов и дизайна</li>
            <li>Техническая консультация специалиста</li>
            <li>В дальнейшем - безупречный монтаж</li>
          </ol>
        </div> -->
        </div>
      </section>
    </div>
  </div>
</div>
