figure {
  display: inline-block;
  background-image: url(/img/application-measurement-master.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.bg-image {
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: translateY(0%);
  background-image: url(/img/banner-3.jpg);
  background-repeat: no-repeat;
  background-position-x: 40%;
  background-size: cover;
}

.bg-image-sm {
  position: absolute;
  background-color: #e5eaf3;
  width: 100%;
  height: 100%;
  z-index: -1;
  width: 180%;
  height: 300%;
  // border-radius: 50%;
  top: 0;
  left: -38%;
  transform: translateX(0%);
  z-index: 0;
}
