<div #swiper *isPlatformBrowser class="swiper relative">
  <div class="swiper-wrapper">
    @for (img of images(); track img) {
      <div class="swiper-slide">
        <figure class="-aspect-1.5/1 -w-150 rounded-lg overflow-hidden">
          <img [attr.src]="img" alt="" class="block" />
        </figure>
      </div>
    }
  </div>

  <div
    class="swiper-button-prev btn-arrow left-0 top-1/2 absolute -translate-y-1/2 z-1 bg-white cursor-pointer m-1 rounded-full"
  >
    <ng-icon name="lucideChevronLeft" class="text-3xl" strokeWidth="1px" />
  </div>

  <div
    class="swiper-button-next btn-arrow right-0 top-1/2 absolute -translate-y-1/2 z-1 bg-white cursor-pointer m-1 rounded-full"
  >
    <ng-icon name="lucideChevronRight" class="text-3xl" strokeWidth="1px" />
  </div>
</div>
