<app-main-header></app-main-header>

<app-main-banner></app-main-banner>

<!-- <app-from-to [title]="'От идеи до готового потолка'"></app-from-to> -->

<!-- <app-turnkey-solutions [title]="'Готовые решения под ключ'"></app-turnkey-solutions> -->

<app-application-measurement [title]="'Оставьте заявку на бесплатный замер'"></app-application-measurement> 

<!-- 
<app-ceiling-installations [title]="'Примеры установки матовых потолков'"></app-ceiling-installations> 
-->

<!-- 
<app-form-application [title]="'Оставьте заявку'"></app-form-application> 
-->

<!-- <app-work-types [title]="'Выполняем все виды натяжных потолков'"></app-work-types>  -->

<!-- 

-->



<!-- 
<app-footer-menu></app-footer-menu> 
-->

<!-- 
<app-way-we-work [title]="'Этапы сотрудничества'"></app-way-we-work> 
-->

<!-- ЧТО ВХОДИТ В УСЛУГУ КОМПЛЕКСНОГО РЕМОНТА -->
<!-- 
<app-leave-request [title]="'Оставьте заявку на бесплатный замер потолка специалистом'"></app-leave-request>  -->