<article class="flex flex-col bg-gray-light h-full max-md:max-w-100">
  <figure class="w-full bg-image aspect-1.5/1" [style.background-image]="'url(' + item()?.image + ')'">
    @if (item(); as item) {
      <img class="hidden" [attr.src]="item.image" [attr.alt]="item.title" />
    }
  </figure>

  <section class="p-3 flex flex-col gap-3 h-full">
    <footer class="flex flex-col gap-2">
      <h4 class="uppercase font-medium">{{ title() }}</h4>

      <p class="sm:text-sm">{{ brief() }}</p>
    </footer>

    <section class="flex mt-auto w-full justify-between">
      <app-price-card size="s" [item]="item()"></app-price-card>

      @if (link()) {
        <div class="flex items-center justify-center text-sm">
          Подробнее
          <ng-icon name="lucideChevronRight" class="mt-[2px]"></ng-icon>
          <!-- <ng-icon name="lucideMoveRight"></ng-icon> -->
          <!-- <ng-icon name="lucideCircleArrowRight"></ng-icon> -->
        </div>
      }

      <!-- <div class="flex gap-1 justify-end">
        <div class="text-sm">Цена:</div>
        <div class="text-sm">
          от
          <span class="font-semibold">{{ price() }} </span>
          руб/м²
        </div>
      </div> -->
    </section>
  </section>
</article>

<!-- <small> *Цена указана c установкой под ключ. </small> -->
