<div class="container mx-auto my-8 flex flex-col gap-4">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-2xl">Собственное производство</h2>

    <div class="md:w-175 mx-auto text-gray-500">Изготовление штор на заказ с контролем качества на каждом этапе</div>
  </header>

  <section class="flex gap-6">
    <div class="flex-1 flex justify-end">
      <picture><img src="/images/image-2.jpg" /></picture>
    </div>

    <div class="flex-1 flex flex-col gap-4">
      <p>
        Пошив штор на заказ — лучший способ получить качественные занавеси, соответствующие размеру и форме окна, уровню
        освещенности и дизайну комнаты, а также вкусам Заказчика.
      </p>

      <p>
        Студия текстильного дизайна «Фабрика штор» оказывает комплекс услуг по подбору и пошиву текстиля. Мы выезжаем к
        Вам домой или офис с образцами тканей и изделий, для проведения первоначальных замеров, консультируем по видам
        изделий, характеристикам тканей и карнизов, помогаем выбрать оптимальное решение из многообразия видов и стилей,
        таких как римские, французские, австрийские, на петлях, с люверсами или лаконичные жалюзи, которое подойдет
        именно Вам.
      </p>

      <p>
        Салон штор «Фабрика штор» воплотит любые, даже самые смелые идеи текстильного декорирования окон и помещений.
        Наши дизайнеры помогут Вам справится и найти решение любой сложной задачи оформления окон.
      </p>

      <p>
        Еще у нас можно купить ткань на отрез, если вы хотите сшить шторы самостоятельно, а так же заказать пошив
        дополнительного текстиля: покрывал, декоративных подушек, чехлов на стулья и мебель, скатертей или салфеток на
        стол.
      </p>
    </div>
  </section>
</div>
