<div class="bg-gray-light py-5 --md:my-8 --my-6">
  <div class="container mx-auto flex flex-col gap-5">
    <header class="text-center flex flex-col gap-2 sm:gap-3">
      <h2 class="md:text-4xl text-3xl">Остались вопросы?</h2>

      <div class="md:w-175 mx-auto text-gray-500">Оставьте номер телефона для консультации.</div>
    </header>

    <section>
      <ol>
        @for (item of pages; track item) {
          <li class="">
            {{ item.title }}
          </li>
        }
      </ol>
    </section>
  </div>
</div>
