<section class="container mx-auto flex flex-col gap-3">
  <header class="flex py-3">
    <input placeholder="Text..." id="field-preview-name-on-card" class="file:text-foreground placeholder:text-muted-foreground selection:bg-primary selection:text-primary-foreground border-input focus-visible:border-ring focus-visible:ring-ring/50 flex h-9 w-full min-w-0 rounded-md border px-3 py-1 text-base shadow-xs outline-none focus-visible:ring-[3px]">
  
  </header>


  <atlas-editor-toolbar
    #editorToolbar
    [id]="id"
    [tools]="config.tools!"
    [uploadUrl]="config.uploadUrl"
    [showToolbar]="config.showToolbar !== undefined ? config.showToolbar : true"
    [customClasses]="config.customClasses!"
    [defaultFontName]="config.defaultFontName!"
    [defaultFontSize]="config.defaultFontSize!"
    [hiddenButtons]="config.toolbarHiddenButtons"
    (execute)="executeCommand($event)"
  ></atlas-editor-toolbar>
  <!-- 
<input #fgInput type="color" (change)="insertColor(fgInput.value, 'textColor')" /> -->

  <div
    #editorRef
    cdkTextareaAutosize
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="10"
    [class.atlas-editor-textarea]="!config.toolbarInline"
    [class.atlas-editor-inline]="config.toolbarInline"
    [class.pn-config-dblclick]="config.dblClickEnabled"
    [attr.contenteditable]="enabled && config.editable"
    [attr.tabindex]="!enabled ? -1 : tabIndex"
    [attr.translate]="config.translate"
    [attr.spellcheck]="config.spellcheck"
    [style.minHeight]="!config.toolbarInline && config.minHeight"
    [style.maxHeight]="!config.toolbarInline && config.maxHeight"
    (focus)="onTextAreaFocus($event)"
    (blur)="onTextAreaBlur($event)"
    (click)="exec()"
    (keyup)="exec()"
    (mouseup)="updateSelected()"
    (mouseout)="onTextAreaMouseOut($event)"
    [innerText]="text()"
    class="border rounded-sm min-h-100 p-3"
  ></div>

  <footer>
    <app-annotation-panel></app-annotation-panel>
  </footer>
</section>
