:host {
  display: block;
}

.zoom-controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  block-size: 2.5rem;
  background: rgb(0 0 0 / 5%);
  // max-inline-size: 18rem;
}

@media screen and (max-width: 47.9625em) {
  .zoom-controller {
    max-inline-size: 100%;
  }
}

.slider-wrapper {
  flex: 1;
}

.minus {
  border-radius: 1rem 0 0 1rem;
}

.plus {
  border-radius: 0 1rem 1rem 0;
}

button {
  --tui-text-tertiary: var(--primari-color);
  color: var(--primari-color);

  &:focus,
  &:active,
  &:hover {
    --tui-text-secondary: var(--primari-color-hover);
    --tui-text-tertiary: var(--primari-color-hover);
    --tui-text-primary: var(--primari-color-hover);
  }
}
