<div class="flex gap-3">
  <section
    class="flex-1 zoom-controller px-3 rounded-sm"
    (pointerdown)="onKeydown(true)"
    (document:pointerup)="onKeydown(false)"
  >
    <button
      appearance="icon"
      iconStart="@tui.minus"
      size="xs"
      tuiIconButton
      type="button"
      class="minus"
      (click)="change(-10)"
    >
      Minus
    </button>

    <label tuiSliderThumbLabel class="slider-wrapper">
      <div [tuiHint]="value" [tuiHintManual]="!!(showHint$ | async)"></div>

      <input
        tuiSlider
        type="range"
        [step]="step()"
        [max]="max()"
        [min]="min()"
        [ngModel]="value"
        (ngModelChange)="setValue($event)"
      />
    </label>

    <button
      appearance="icon"
      iconStart="@tui.plus"
      size="xs"
      tuiIconButton
      type="button"
      class="plus"
      (click)="change(+10)"
    >
      Plus
    </button>
  </section>

  <tui-textfield class="w-30" tuiTextfieldSize="m" [tuiTextfieldCleaner]="false">
    <!-- <label tuiLabel>I am a label</label> -->

    <input
      tuiInputNumber
      postfix=" м²"
      [step]="step()"
      [max]="max()"
      [min]="min()"
      [ngModel]="value"
      (ngModelChange)="setValue($event)"
    />
  </tui-textfield>
</div>
