<!-- <header class="flex items-center justify-between px-4 h-10 border-b"></header> -->

<section class="p-3">
  <header class="flex gap-2 flex-1 my-2">
    <div class="flex-1"></div>

    <button variant="outline" hlmBtn (click)="openEditModal()">
      Create Record
    </button>

    <button hlmBtn size="icon" variant="outline">
      <ng-icon hlm size="sm" name="lucideRefreshCcw"></ng-icon>
    </button>

    <atlas-data-table-toggle-size></atlas-data-table-toggle-size>
  </header>

  <atlas-taiga-ui-table
    [tableRows]="[] | atlasTablePaginate: recordServiceAll()"
    [tableColumns]="columns()"
    (tableRowClick)="openEditModal($any($event))"
  ></atlas-taiga-ui-table>
</section>
