<div class="relative -bg-white">
  <div class="bg-banner -z-1" parallax [config]="{initialValue: -0, ratio: 0.2}"></div>
  <div class="bg-overlay -z-1"></div>

  <div class="container max-lg:px-3 mx-auto z-1 h-[500px] md:h-[600px] flex items-center justify-center">
    <div class="w-200 sm:flex gap-3 md:gap-6 sm:py-12 text-center">
      <section class="flex-1 flex flex-col gap-5 text-white">
        <div></div>

        <section class="flex flex-col gap-4">
          <h1 class="-font-semibold text-6xl text-center">Шторы под ключ на заказ</h1>

          <p class="text-xl">Ди­зайн-сту­дия по по­шиву штор и тек­сти­ля в Мос­кве и Под­московье</p>
        </section>

        <div></div>

        <footer class="flex justify-center">
          <button inviteModalClick class="btn btn-primary">Пригласить дизайнера</button>
        </footer>
      </section>
    </div>
  </div>
</div>
