<form class="flex-1 justify-self-center flex flex-col gap-6 pb-3" [formGroup]="form" (submit)="formSubmit()">
  <h3 class="font-semibold text-2xl md:text-3xl text-center">Оставьте заявку</h3>

  <tui-textfield [tuiTextfieldCleaner]="false">
    <label tuiLabel>Введите имя</label>
    <input tuiInput formControlName="name" tuiAutoFocus [maxlength]="100" />
  </tui-textfield>

  <tui-textfield *defer [tuiTextfieldCleaner]="false">
    <label tuiLabel>Укажите телефон</label>
    <input tuiInputPhone formControlName="phone" mask="+7(###)###-##-##" />
  </tui-textfield>

  <!-- <tui-textfield tuiChevron [tuiTextfieldCleaner]="false">
    <label tuiLabel>Удобный тип связи</label>
    <input tuiSelect formControlName="connectionType" />
    <tui-data-list-wrapper *tuiDropdown new [items]="typeOptions()" />
  </tui-textfield> -->

  <label tuiLabel class="text-sm">
    <input tuiCheckbox type="checkbox" formControlName="checked" />
    <span class="text-sm">
      Даю согласие на обработку
      <a class="cursor-pointer underline" [routerLink]="['/privacy-policy']" target="_blank">персональных данных</a>
    </span>
  </label>

  <button class="btn-primary btn-sm" type="submit">Отправить</button>
</form>
