<div class="container mx-auto my-10 flex flex-col gap-4">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-2xl">Пошив штор для всех видов помещений</h2>
  </header>

  <section class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4 mx-auto">
    <article class="flex flex-col gap-3">
      <figure class="aspect-3/2 rounded-lg overflow-hidden">
        <img src="/fabric/fabric-1.jpg" alt="" class="block" />
      </figure>

      <div>
        <h4>Шторы в коттедж</h4>
      </div>
    </article>

    <article class="flex flex-col gap-3">
      <figure class="aspect-3/2 rounded-lg overflow-hidden">
        <img src="/fabric/fabric-1.jpg" alt="" class="block" />
      </figure>

      <div>
        <h4>Шторы в гостиную</h4>
      </div>
    </article>

    <article class="flex flex-col gap-3">
      <figure class="aspect-3/2 rounded-lg overflow-hidden">
        <img src="/fabric/fabric-1.jpg" alt="" class="block" />
      </figure>

      <div>
        <h4>Шторы в детскую</h4>
      </div>
    </article>

    <article class="flex flex-col gap-3">
      <figure class="aspect-3/2 rounded-lg overflow-hidden">
        <img src="/fabric/fabric-1.jpg" alt="" class="block" />
      </figure>

      <div>
        <h4>Шторы в кабинет</h4>
      </div>
    </article>

    <article class="flex flex-col gap-3">
      <figure class="aspect-3/2 rounded-lg overflow-hidden">
        <img src="/fabric/fabric-1.jpg" alt="" class="block" />
      </figure>

      <div>
        <h4>Шторы в спальню</h4>
      </div>
    </article>

    <article class="flex flex-col gap-3">
      <figure class="aspect-3/2 rounded-lg overflow-hidden">
        <img src="/fabric/fabric-1.jpg" alt="" class="block" />
      </figure>

      <div>
        <h4>Уличные шторы</h4>
      </div>
    </article>

    <article class="flex flex-col gap-3">
      <figure class="aspect-3/2 rounded-lg overflow-hidden">
        <img src="/fabric/fabric-1.jpg" alt="" class="block" />
      </figure>

      <div>
        <h4>Шторы на кухню</h4>
      </div>
    </article>
  </section>
</div>
