<div class="container mx-auto my-8 flex flex-col gap-4">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-2xl">Ткани</h2>

    <div class="md:w-175 mx-auto text-gray-500">В наличии ткани из Европы, Индии, Турции</div>
  </header>

  <section class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4 mx-auto">
    <article class="flex flex-col gap-3">
      <figure class="rounded-lg overflow-hidden">
        <img src="/fabric/fabric-1.jpg" alt="" class="aspect-3/2 block" />
      </figure>

      <div class="text-center">
        <span>Портьерная ткань Art Amala Poppy</span>
      </div>
    </article>

    <article class="flex flex-col gap-3">
      <figure class="rounded-lg overflow-hidden">
        <img src="/fabric/fabric-2.jpg" alt="" class="aspect-3/2 block" />
      </figure>

      <div class="text-center">
        <span>Портьерная ткань Art Amala Poppy</span>
      </div>
    </article>

    <article class="flex flex-col gap-3">
      <figure class="rounded-lg overflow-hidden">
        <img src="/fabric/fabric-3.jpg" alt="" class="aspect-3/2 block" />
      </figure>

      <div class="text-center">
        <span>Портьерная ткань Art Amala Poppy</span>
      </div>
    </article>

    <article class="flex flex-col gap-3">
      <figure class="rounded-lg overflow-hidden">
        <img src="/fabric/fabric-4.jpg" alt="" class="aspect-3/2 block" />
      </figure>

      <div class="text-center">
        <span>Портьерная ткань Art Amala Poppy</span>
      </div>
    </article>
  </section>
</div>
