// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@use 'sass:meta';

html,
body {
  font-size: 14px;
  letter-spacing: 2%;
  min-width: 400px;
}

:root {
  --primari-color: #000;
  --primari-color-hover: #000;
  --primari-color: #ae9769;
  --primari-color-hover: #b69e6f;
  --default-font-family: Manrope, sans-serif;
  --default-font-family: Gilroy, sans-serif;
}

/*
  Fonts
*/
@include meta.load-css('fonts/proxima-nova/stylesheet.scss');
@include meta.load-css('fonts/gilroy/stylesheet.scss');
@include meta.load-css('fonts/manrope/stylesheet.scss');
@include meta.load-css('fonts/montserrat/stylesheet.scss');
@include meta.load-css('fonts/regal-text-pro/stylesheet.scss');

/*
  App Theme
*/
@include meta.load-css('theme/tailwind.scss');
@include meta.load-css('theme/taiga-ui.scss');
@include meta.load-css('theme/buttons.scss');
@include meta.load-css('theme/app-theme.scss');
@include meta.load-css('theme/fix.scss');
