h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PF Regal Text Pro';
}

.bg-dark-knight {
  background-color: rgb(20, 24, 52);
}

.badge {
  display: inline-block;
  border-radius: 40px;
  background-color: var(--primari-color);
  padding: 0.2rem 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #fff;
}

.text-price {
  font-family: Akrobat;
}

.bg-image {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
}

.text-primary {
  font-family: 'PF Regal Text Pro';
}

.bg-gray {
  background-color: #6a7181;
}

.bg-gray-light {
  background-color: #f2f4f6;
}

.bg-black-pearl {
  background-color: #1f272e;
}

.bg-black {
  background-color: #252f3d;
}

.bg-white-chocolate {
  background-color: #eee5d6;
}

.bg-you-love {
  background-color: #f4f3ed;
}

.bg-cardboard {
  background-color: #ae9769;
}

.text-cardboard {
  color: #ae9769;
}

.bg-judge-gray {
  background-color: #4F4338;
}
