:root,
[tuiTheme='light'] {
  --tui-text-secondary: inherit;
  --tui-font-text: var(--default-font-family);
  --tui-height-xs: 1rem;
  --tui-height-s: 1.75rem;
  --tui-height-m: 2.5rem;
  --tui-height-l: 3.5rem;
  // --tui-padding-s: 0.625rem;
  // --tui-padding-m: 0.75rem;
  // --tui-padding-l: 1rem;
  --tui-radius-xs: 6px;
  --tui-radius-s: 6px;
  --tui-radius-m: 6px;
  --tui-radius-l: 6px;
  --tui-radius-xl: 6px;
  --tui-font-text-xl: normal 1.1875rem var(--tui-font-text);
  --tui-font-text-l: normal 1rem var(--tui-font-text);
  --tui-font-text-m: normal 1rem var(--tui-font-text);
  --tui-font-text-s: normal 1rem var(--tui-font-text);
  --tui-font-text-xs: normal 0.6875rem var(--tui-font-text);
  --tui-font-text-ui-l: normal 1.0625rem var(--tui-font-text);
  --tui-font-text-ui-m: normal 1rem var(--tui-font-text);
  --tui-font-text-ui-s: normal 0.8125rem var(--tui-font-text);
  --tui-font-text-ui-xs: normal 0.6875rem var(--tui-font-text);
  --tui-typography-body-s: normal calc(var(--tui-font-offset) + 1rem) / calc(20 / 14) var(--tui-typography-family-text);
  // --tui-font-heading-4: 20px;
  // --tui-font-heading-1: 500 calc(var(--tui-font-offset) + 3.125rem) / calc(50 / 56) var(--tui-font-heading);
  // --tui-font-heading-2: 500 calc(var(--tui-font-offset) + 2.75rem) / calc(48 / 44) var(--tui-font-heading);
  // --tui-font-heading-3: 500 calc(var(--tui-font-offset) + 2.25rem) / calc(40 / 36) var(--tui-font-heading);
  // --tui-font-heading-4: 500 calc(var(--tui-font-offset) + 1.75rem) / calc(32 / 28) var(--tui-font-heading);
  // --tui-font-heading-5: 500 calc(var(--tui-font-offset) + 1.5rem) / calc(28 / 24) var(--tui-font-heading);
  // --tui-font-heading-6: 500 calc(var(--tui-font-offset) + 1.25rem) / calc(24 / 20) var(--tui-font-heading);
  // --tui-text-action: rgba(0, 0, 0, 0.87);
  --tui-duration: 100ms;
  --tui-tree-item-indent: 1rem;
  --tui-text-primary: #333333;
  --tui-text-secondary: var(--tui-text-primary);
  --tui-border-width: 1px;
  --tui-text-primary: #000;
  --tui-border-normal: var(--primari-color);
  --tui-background-accent-1: var(--primari-color);
  --tui-background-accent-1-hover: var(--primari-color-hover);

  --tui-background-accent-2: var(--primari-color);
  --tui-background-accent-2-hover: var(--primari-color-hover);

  tui-tabs {
    --t-color: var(--primari-color) !important;
    justify-content: center;
    width: 100%;
  }

  [tuiButton],
  [tuiButton][data-size='m'] {
    --tui-background-accent-1: var(--primari-color);
    --tui-background-accent-1-hover: var(--primari-color-hover);
    font-weight: 500;
  }

  table[tuitable] {
    th {
      font-weight: 500;
    }

    thead tr:first-child {
      th:first-child {
        border-top-left-radius: 0.5rem;
      }

      th:last-child {
        border-top-right-radius: 0.5rem;
      }
    }

    tbody tr:last-child {
      td:first-child {
        border-bottom-left-radius: 0.5rem;
      }

      td:last-child {
        border-bottom-right-radius: 0.5rem;
      }
    }
  }

  table[data-size='m'],
  table[data-size='m'] {
    th,
    td {
      padding-block: 0.4rem;
    }
  }

  table[data-size='l'] tbody td {
    padding: 0.5rem 1rem !important;
  }
}

tui-dropdown {
  --tui-duration: 0;
}

tui-dialogs {
  --tui-duration: 200ms;
}

tui-modal {
  tui-dialog {
    border-radius: 2px;

    & > .t-content {
      padding: 1rem;
    }

    .t-heading.t-heading_closable {
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 14px;
    }

    &[data-appearance='fullscreen'][data-size] {
      --tui-width: 100%;
      --tui-from: translateY(2rem);
      padding: 0;

      & > [tuiButtonX] {
        display: none;
      }

      ng-component {
        min-height: 100vh;
        overflow: hidden;
      }
    }
  }
}

[tuiAppearance].T {
  &[data-appearance='textfield'] {
    // --t-shadow: 0px 0.1rem 0.3rem rgb(0 0 0 / 10%);
    --t-shadow: none;
  }

  &[data-appearance='textfield']:is(a, button, select, textarea, input, label, .tui-interactive):not(
      :disabled
    ):hover:not(:disabled):not([data-state]) {
    --t-shadow: 0px 0.1rem 0.3rem rgb(0 0 0 / 15%);
  }

  &[data-mode~='readonly'] {
    color: #00000061;
  }

  &[data-appearance='textfield'] {
    --tui-duration: 200ms;
    --tui-text-secondary: rgba(0, 0, 0, 0.6);
    box-shadow: none !important;
    outline: var(--tui-border-width) solid var(--tui-border-normal);

    &::placeholder {
      font-size: 12px !important;
    }

    &:read-only:not([data-mode]):disabled {
      user-select: none;
      cursor: default !important;
      background: #1477f80f !important;
      outline: 1px solid #b6b6b6 !important;
    }

    &:not(:disabled) {
      &:hover {
        --tui-border-normal: var(--tui-background-accent-1-hover);
      }

      &:active,
      &:focus {
        --tui-border-normal: var(--tui-background-accent-1-hover);
        outline-width: var(--tui-border-width);
      }
    }

    &:not([data-focus='false']):focus-visible {
      outline: var(--tui-border-width) solid var(--tui-background-accent-1);
      outline-offset: calc(var(--tui-border-width) * -1);
    }

    &[data-focus='true'] {
      outline: var(--tui-border-width) solid var(--tui-background-accent-1-hover);
      outline-offset: calc(var(--tui-border-width) * -1);
    }
  }

  &[data-appearance='outline']:not(:disabled):hover {
    background: var(--tui-background-neutral-1);
  }

  &.t-close {
    --tui-status-neutral: #1477f8; // Цвет крестика
    --tui-background-neutral-1: none;
    --tui-background-neutral-1-hover: none;
  }

  &.t-clear {
    --t-size: 1rem;
    background: #dddddd;
    border-radius: 50%;
  }

  &[tuiChip] {
    --tui-background-neutral-1: #e0e0e0;
    --tui-background-neutral-1-hover: #d9d9d9;
    border-radius: 16px;
  }
}

[tuiTheme='light'] [tuiAppearance][data-appearance='textfield'],
[tuiTheme='light'][tuiAppearance][data-appearance='textfield'] {
  --tui-background-neutral-1: white;
  --tui-background-neutral-1-hover: white;
  background-color: white !important;
}

[tuiIconButton][data-size='xs']:before {
  font-size: 0.8rem;
}

[tuiLabel] {
  --tui-duration: 100ms;

  input[type='checkbox']:not(:checked) {
    box-shadow: none;
    border: 2px solid rgba(0, 0, 0, 0.54);
    outline: none !important;
  }
}

[tuiButton],
[tuiButton][data-size='m'] {
  --t-size: var(--tui-height-s);
  border-width: 0;
  padding-left: 16px;
  padding-right: 16px;
  font: var(--tui-font-text-s);
  // width: fit-content;
}

[tuiOption] {
  gap: 0.125rem;
}

tui-icon {
  font-size: 1rem;
}

tui-textfield {
  --tui-background-base: #1477f80f;
  --tui-background-base: white;

  &[data-size='s'][tuiChevron][tuiIcons]:after {
    margin-right: -0.6rem;
  }

  tui-error {
    display: none !important;
  }

  &.tui-invalid {
    [tuiappearance] {
      padding-right: 1.6rem;
    }

    .t-content {
      &:after {
        --font-size: 1.25rem;
        content: '!';
        pointer-events: none;
        position: absolute;
        top: 50%;
        text-align: center;
        font-weight: 500;
        border-radius: 50%;
        color: #fff;
        background-color: #f44336;
        font-size: calc(var(--font-size) / 10 * 8);
        margin-top: calc(var(--font-size) / 2 * -1);
        width: var(--font-size);
        height: var(--font-size);
        line-height: var(--font-size);
        right: 0.75rem;
      }
    }

    input[disabled],
    textarea[disabled] {
      & ~ .t-content::after {
        display: none;
      }
    }
  }
}

input[type='range'] {
  color: var(--primari-color);
}

tui-error {
  --tui-duration: 100ms;

  .t-message-text::before {
    display: none !important;
  }
}

tui-calendar-sheet {
  .t-cell {
    font-size: 0.75rem;
  }
}

tui-hint {
  --tui-background-accent-1: #616161;
}

tui-scrollbar {
  [tuiAppearance]:disabled {
    display: none;
  }

  [tuiOption]._selected {
    &,
    &:active,
    &:hover {
      background-color: #00000024;
    }
  }
}

.textfield-no-border {
  --tui-border-width: 0;
}

caption[tuiCaption] {
  &:empty {
    padding: 0;
  }
}

table[tuiTable] td {
  background-color: transparent;
}

[tuiGroup] {
  --tui-duration: 100ms;
  --t-size: 3.5rem;
  --t-padding: 0 1rem;
}

atlas-taiga-ui-table {
  --tui-font-text-s: normal 0.625remvar (--tui-font-text);
  --tui-font-text-m: normal 0.825rem var(--tui-font-text);
}
