<!-- <div class="bg-white-chocolate py-8">
  <div class="container max-lg:px-3 mx-auto">
    <section class="flex flex-col gap-5 max-sm:px-5">
      <header class="text-center flex flex-col gap-2 sm:gap-3">
        <h2 class="lg:text-4xl text-2xl">{{ title() }}</h2>

        <div class="md:w-175 mx-auto text-gray-500">
          Cтоимость зависит от выбранных материалов и технических расчетов
        </div>
      </header>
    </section>

    <form
      [formGroupStore]="'app-price-calculation'"
      [formGroup]="form"
      (submit)="formSubmit()"
      class="flex flex-col gap-3 py-5"
    >
      <fieldset class="flex max-lg:flex-col gap-3">
        <div class="lg:w-50 lg:text-end font-medium">Площадь потолков:</div>

        <div class="flex-1">
          <app-zoom-controller formControlName="size"></app-zoom-controller>
        </div>
      </fieldset>

      <fieldset class="flex max-lg:flex-col gap-3">
        <div class="lg:w-50 lg:text-end font-medium">Тип комнаты:</div>

        <data-list-options formControlName="rooms" [items]="rooms()">
          <div class="flex flex-wrap gap-3">
            @for (item of rooms(); track item) {
              <data-list-option [value]="item" [icon]="item.icon">{{ item.title }}</data-list-option>
            }
          </div>
        </data-list-options>
      </fieldset>

      <fieldset class="flex max-lg:flex-col gap-3">
        <div class="lg:w-50 lg:text-end font-medium">Освещение:</div>

        <data-list-options formControlName="lightings" [items]="lightins()">
          <div class="flex flex-wrap gap-3">
            @for (item of lightins(); track item) {
              <data-list-option [value]="item" [icon]="item.icon">{{ item.title }}</data-list-option>
            }
          </div>
        </data-list-options>
      </fieldset>

      <fieldset class="flex max-lg:flex-col gap-3">
        <div class="lg:w-50 lg:text-end font-medium">Пожелание:</div>

        <div class="flex-1">
          <tui-textfield [tuiTextfieldCleaner]="false">
            <label tuiLabel>Введите текст</label>
            <textarea tuiTextarea formControlName="description" [min]="2" [max]="4" [maxlength]=1000></textarea>
          </tui-textfield>
        </div>
      </fieldset>

      <fieldset class="flex max-lg:flex-col gap-3">
        <div class="lg:w-50 lg:text-end font-medium">Контакты:</div>

        <div class="flex-1 flex flex-wrap gap-3">
          <tui-textfield class="flex-1" [tuiTextfieldCleaner]="false">
            <label tuiLabel>Введите имя</label>
            <input tuiInput formControlName="name" />
          </tui-textfield>

          @defer {
            <tui-textfield [tuiTextfieldCleaner]="false">
              <label tuiLabel>Укажите телефон</label>
              <input tuiInputPhone formControlName="phone" mask="+7(###)###-##-##" />
            </tui-textfield>
          } @placeholder {
            <tui-textfield [tuiTextfieldCleaner]="false">
              <label tuiLabel>Укажите телефон</label>
              <input tuiInputPhone formControlName="phone" mask="+7(###)###-##-##" />
            </tui-textfield>
          }

          <button class="btn-primary max-md:w-full" type="submit">Расчитать цену</button>
        </div>
      </fieldset>
    </form>
  </div>
</div> -->
