<div class="container mx-auto my-8 flex flex-col gap-4">
  <section class="flex flex-col gap-4">
    <header class="text-center flex flex-col gap-2 sm:gap-3">
      <h2 class="md:text-4xl text-2xl">Виды изделий</h2>

      <div class="md:w-175 mx-auto text-gray-500">
        Вся продукция изготавливается по индивидуальным размерам из качественных материалов.
      </div>
    </header>

    <section class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4 mx-auto">
      <article class="flex flex-col gap-3">
        <picture>
          <img src="/catalog/image-1.jpg" />
        </picture>

        <h3 class="text-xl font-medium">Прямые шторы</h3>

        <p>Красивые рисунки и однотонные ткани для стандартных, скошенных и арочных окон.</p>
      </article>

      <article class="flex flex-col gap-3">
        <picture>
          <img src="/catalog/image-1.jpg" />
        </picture>

        <h3 class="text-xl font-medium">Римские шторы</h3>

        <p>Из плотных и легких тканей для прямых и скошенных окон.</p>
      </article>

      <article class="flex flex-col gap-3">
        <picture>
          <img src="/catalog/image-1.jpg" />
        </picture>

        <h3 class="text-xl font-medium">Рулонные шторы</h3>

        <p>Крепление на проем, в проем или раму окна.</p>
      </article>

      <article class="flex flex-col gap-3">
        <picture>
          <img src="/catalog/image-1.jpg" />
        </picture>

        <h3 class="text-xl font-medium">Шторы с моторизацией</h3>

        <p>Управляйте с пульта, умной колонки или с помощью таймера.</p>
      </article>

      <article class="flex flex-col gap-3">
        <picture>
          <img src="/catalog/image-1.jpg" />
        </picture>

        <h3 class="text-xl font-medium">Шторы плиссе</h3>

        <p>Для стандартных, мансардных и треугольных окон.</p>
      </article>

      <article class="flex flex-col gap-3">
        <picture>
          <img src="/catalog/image-1.jpg" />
        </picture>

        <h3 class="text-xl font-medium">Деревянные жалюзи</h3>

        <p>Стильные, практичные, изготовленные из натурального дерева.</p>
      </article>

      <article class="flex flex-col gap-3">
        <picture>
          <img src="/catalog/image-1.jpg" />
        </picture>

        <h3 class="text-xl font-medium">Рулонные шторы день-ночь (зебра)</h3>

        <p>Умное и практичное сочетание.</p>
      </article>

      <article class="flex flex-col gap-3">
        <picture>
          <img src="/catalog/image-1.jpg" />
        </picture>

        <h3 class="text-xl font-medium">Карнизы для штор</h3>

        <p>Декоративные и профильные.</p>
      </article>

      <article class="flex flex-col gap-3">
        <picture>
          <img src="/catalog/image-1.jpg" />
        </picture>

        <h3 class="text-xl font-medium">Алюминиевые горизонтальные жалюзи</h3>

        <p>Недорогое и стильное решение для оформления окон.</p>
      </article>

      <article class="flex flex-col gap-3">
        <picture>
          <img src="/catalog/image-1.jpg" />
        </picture>

        <h3 class="text-xl font-medium">Вертикальные жалюзи</h3>

        <p>Тканевые и пластиковые ламели с выбором степени затемнения.</p>
      </article>

      <article class="flex flex-col gap-3">
        <picture>
          <img src="/catalog/image-1.jpg" />
        </picture>

        <h3 class="text-xl font-medium">Шторы и жалюзи для скошенных окон</h3>

        <p>Ознакомьтесь с изделиями подходящими для оформления скошенных окон.</p>
      </article>
    </section>
  </section>
</div>
