<header class="flex items-center justify-end px-4 h-10 border-b">
  <!-- <button hlmSidebarTrigger><span class="sr-only"></span></button> -->

  <div class="flex gap-2">
    <button hlmBtn size="icon" variant="outline" class="size-7">
      <ng-icon hlm size="sm" name="lucideRefreshCcw"></ng-icon>
    </button>

    <button hlmBtn size="icon" variant="outline" class="size-7">
      <ng-icon hlm size="sm" name="lucideMaximize"></ng-icon>
    </button>

    <button hlmBtn size="icon" variant="outline" class="size-7">
      <ng-icon hlm size="sm" name="lucideMinimize"></ng-icon>
    </button>
  </div>
</header>

<section class="p-5">
  <atlas-data-table [data]="data" [columns]="columns"></atlas-data-table>
</section>