<!-- <form [formGroup]="form" class="-textfield-no-border" class="flex my-2">
  <div>
    <span>Фильтр: </span>
  </div>

  <fieldset class="flex-1 flex flex-wrap justify-end">
    <tui-textfield tuiChevron [tuiTextfieldCleaner]="true" class="w-1/5">
      <label tuiLabel>Тип потолка</label>
      <input tuiSelect formControlName="type" />
      <tui-data-list-wrapper *tuiDropdown new [items]="typeOptions()" />
    </tui-textfield>
  </fieldset>
</form> -->

@defer {
  <tui-tabs-with-more
    [activeItemIndex]="activeItemIndex()"
    (activeItemIndexChange)="indexChange($event)"
    [moreContent]="moreTmp"
  >
    @for (group of groups(); track group) {
      <button *tuiItem tuiTab type="button">
        <span class="md:px-3 flex items-center gap-2"
          >{{ group.title }}

          @if (group.link) {
            <ng-icon name="lucideSquareArrowOutUpRight"/>
          }
        </span>
      </button>
    }
  </tui-tabs-with-more>
} @placeholder {
  <tui-tabs-with-more
    [activeItemIndex]="activeItemIndex()"
    (activeItemIndexChange)="indexChange($event)"
    [moreContent]="moreTmp"
  >
    @for (group of groups(); track group) {
      <button *tuiItem tuiTab type="button">
        <span class="md:px-3 flex items-center gap-2"
          >{{ group.title }}

          @if (group.link) {
            <ng-icon name="lucideSquareArrowOutUpRight"/>
          }
        </span>
      </button>
    }
  </tui-tabs-with-more>
}

<ng-template #moreTmp>
  <tui-icon aria-label="More" icon="@tui.ellipsis" />
</ng-template>
