<div class="flex flex-1 relative">
  <div class="absolute flex h-full w-full">
    <section class="flex flex-col p-3 h-full border-e">
      <div>
        <brn-select
          class="inline-block"
          placeholder="Select schema"
          [formControl]="schemaControl"
        >
          <hlm-select-trigger class="w-56">
            <div class="flex gap-2">
              <span class="text-gray-500">Schema:</span>
              <hlm-select-value />
            </div>
          </hlm-select-trigger>

          <hlm-select-content []="true">
            @for (item of schemaOptions(); track item) {
              <hlm-option [value]="item.value">{{ item.title }}</hlm-option>
            }
          </hlm-select-content>
        </brn-select>
      </div>

      <div class="overflow-auto">
        <div hlmSidebarGroup>
          <div hlmSidebarGroupLabel class="flex gap-1">
            <ng-icon hlm name="lucideTable2" />
            Studio
          </div>

          <div hlmSidebarGroupContent>
            <ul hlmSidebarMenu>
              @for (item of menuItems; track item) {
                <li hlmSidebarMenuItem>
                  <a hlmSidebarMenuButton>
                    <ng-icon hlm [name]="item.icon" />
                    <span>{{ item.title }}</span>
                  </a>
                </li>
              }
            </ul>
          </div>
        </div>

        <div hlmSidebarGroup>
          <div hlmSidebarGroupLabel class="flex gap-1">
            <ng-icon hlm name="lucideTable2" />
            Tables
          </div>

          <div hlmSidebarGroupContent>
            <ul hlmSidebarMenu>
              @for (item of schemaTables; track item) {
                <li hlmSidebarMenuItem>
                  <a hlmSidebarMenuButton>
                    <ng-icon hlm [name]="item.icon" />
                    <span>{{ item.title }}</span>
                  </a>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="flex-1 h-full">
      <header class="flex items-center justify-end px-4 h-10 border-b">
        <!-- <button hlmSidebarTrigger><span class="sr-only"></span></button> -->

        <div class="flex gap-2">
          <button hlmBtn size="icon" variant="outline" class="size-7">
            <ng-icon hlm size="sm" name="lucideRefreshCcw"></ng-icon>
          </button>

          <button hlmBtn size="icon" variant="outline" class="size-7">
            <ng-icon hlm size="sm" name="lucideMaximize"></ng-icon>
          </button>

          <button hlmBtn size="icon" variant="outline" class="size-7">
            <ng-icon hlm size="sm" name="lucideMinimize"></ng-icon>
          </button>
        </div>
      </header>

      <div></div>
    </section>
  </div>
</div>
