<div class="p-2">
  <div class="h-4"></div>

  <div class="overflow-x-auto">
    <table>
      <thead>
        @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
        <tr>
          @for (header of headerGroup.headers; track header.id) {
          <th [colSpan]="header.colSpan">
            @if (!header.isPlaceholder) {
            <ng-container *flexRender="
                      header.column.columnDef.header;
                      props: header.getContext();
                      let header
                    ">
              <div [innerHTML]="header"></div>
            </ng-container>
            }
          </th>
          }
        </tr>
        }
      </thead>
      <tbody>
        @for (row of table.getRowModel().rows; track row.id) {
        <tr>
          @for (cell of row.getVisibleCells(); track cell.id) {
          <td>
            <ng-container *flexRender="
                    cell.column.columnDef.cell;
                    props: cell.getContext();
                    let cell
                  ">
              <div [innerHTML]="cell"></div>
            </ng-container>
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="h-2"></div>
  <div class="flex items-center gap-2">
    <button class="border rounded p-1"
            [disabled]="!table.getCanPreviousPage()"
            (click)="table.setPageIndex(0)">
      <<
    </button>
    <button class="border rounded p-1"
            [disabled]="!table.getCanPreviousPage()"
            (click)="table.previousPage()">
      <
    </button>
    <button class="border rounded p-1"
            [disabled]="!table.getCanNextPage()"
            (click)="table.nextPage()">
      >
    </button>
    <button class="border rounded p-1"
            [disabled]="!table.getCanNextPage()"
            (click)="table.setPageIndex(table.getPageCount() - 1)">
      >>
    </button>
    <span class="flex items-center gap-1">
      <div>Page</div>
      <strong>
        {{ table.getState().pagination.pageIndex + 1 }} of
        {{ table.getPageCount() }}
      </strong>
    </span>
    <span class="flex items-center gap-1">
      | Go to page:
      <input type="number"
             class="border p-1 rounded w-16"
             [value]="table.getState().pagination.pageIndex + 1"
             (input)="onPageInputChange($event)" />
    </span>

    <select [value]="table.getState().pagination.pageSize"
            (change)="onPageSizeChange($event)">
      @for (pageSize of [10, 20, 30, 40, 50]; track pageSize) {
      <option [value]="pageSize">Show {{ pageSize }}</option>
      }
    </select>
  </div>

  <span class="font-medium">Expanded State:</span>
  <pre>{{ rawExpandedState() }}</pre>
  <span class="font-medium">Row Selection State:</span>
  <pre>{{ rawRowSelectionState() }}</pre>
</div>
