<div class="relative -bg-white">
  <div class="bg-banner -z-1" parallax [config]="{initialValue: -0, ratio: 0.2}"></div>
  <div class="bg-overlay -z-1"></div>

  <div class="container max-lg:px-3 mx-auto z-1 h-[500px] md:h-[600px] flex items-center justify-center">
    <div class="w-200 sm:flex gap-3 md:gap-6 sm:py-12 text-center">
      <section class="flex-1 flex flex-col gap-5 text-white">
        <div></div>

        <!-- <div>
          <span class="badge">Москва и область</span>
        </div> -->

        <section class="flex flex-col gap-4">
          <h1 class="-font-semibold text-6xl text-center">Шторы под ключ на заказ</h1>

          <p class="text-xl">Ди­зайн-сту­дия по по­шиву штор и тек­сти­ля в Мос­кве и Под­московье</p>
        </section>
        <!-- 
        <ul class="ms-9 flex flex-col gap-5 leading-6 text-xl">
          <li class="flex items-center gap-3">
            <div class="leading-0"><ng-icon src="/icons/check-1.svg" class="text-cardboard text-3xl" /></div>
            Собственный цех и пошив
          </li>

          <li class="flex items-center gap-3">
            <div class="leading-0"><ng-icon src="/icons/check-1.svg" class="text-cardboard text-3xl" /></div>
            Подберем шторы под любой бюджет и стиль
          </li>

          <li class="flex items-center gap-3">
            <div class="leading-0"><ng-icon src="/icons/check-1.svg" class="text-cardboard text-3xl" /></div>
            Выезд и замер по Москве и Московской области
          </li>

          <li class="flex items-center gap-3">
            <div class="leading-0"><ng-icon src="/icons/check-1.svg" class="text-cardboard text-3xl" /></div>
            Опытные дизайнеры решают задачи любой сложности
          </li> 
        </ul>
          -->
        <!-- <li>Лидеры по отзывам Клиентов - гарантированное качество</li> -->

        <div></div>

        <footer class="flex justify-center">
          <button inviteModalClick class="btn btn-primary">Пригласить дизайнера</button>
        </footer>

        <!-- <section class="flex flex-col gap-2">
          <div class="flex-1">Индивидувльный пошив по вашим размерам</div>
          <div class="flex-1">Безплатный выезд дизайнера</div>
          <div class="flex-1">Установка карнизов и штор</div>
          <div class="flex-1">Гарантия качества на все работы</div>
        </section> -->
      </section>
    </div>
  </div>
</div>
