<header class="container mx-auto py-2">
  <section class="flex justify-between">
    <div class="text-4xl font-bold">SITE LOGO</div>

    <div>
      <button class="btn btn-primary btn-sm">Пригласить дизайнера-замерщика бесплатно</button>
    </div>
  </section>

  <nav>
    <ol class="flex gap-4">
      <li><a class="cursor-pointer py-3 block">Шторы</a></li>
      <li><a class="cursor-pointer py-3 block"> Римские шторы</a></li>
      <li><a class="cursor-pointer py-3 block">Рулонные шторы</a></li>
      <li><a class="cursor-pointer py-3 block">Жалюзи</a></li>
      <li><a class="cursor-pointer py-3 block">Карнизы</a></li>
      <li><a class="cursor-pointer py-3 block"> С электроприводом</a></li>
      <li><a class="cursor-pointer py-3 block"> Скошенные окна</a></li>
      <li><a class="cursor-pointer py-3 block">Шторы плиссе </a></li>
      <li><a class="cursor-pointer py-3 block">Покрывала и подушки</a></li>
    </ol>
  </nav>
</header>

<!-- <div class="bg-banner">
  <div class="lg:container max-lg:px-3 mx-auto sm:h-120 z-1">
    <div class="sm:flex gap-3 md:gap-6 sm:py-12">
      <section class="flex-1 flex flex-col gap-5">
        <div></div>

        <div>
          <span class="badge">Москва и область</span>
        </div>

        <h1 class="-font-semibold max-lg:text-4xl/10 lg:text-5xl/14">Натяжные потолки <br />в Москве под ключ</h1>

        <p class="text-gray-600 pb-6 sm:w-100">
          Натяжные потолки любых видов и сложности. Поможем с выбором идеального варианта! Качественные материалы.
          Опытные мастера!
        </p>
      </section>

      <section class="bg-circle">
        <div class="circle hidden md:block"></div>
        <app-main-banner-form></app-main-banner-form>
      </section>
    </div>
  </div>
</div>

<div class="md:container max-lg:px-3 py-4 mx-auto z-1">
  <ol class="grid lg:grid-cols-4 grid-cols-2 gap-6">
    @for (item of items(); track item) {
      <li class="flex items-center gap-3">
        <div class="w-15 sm:w-20">
          <img [src]="item.src" class="w-full block" [alt]="item.title" />
        </div>
        <div class="flex-1 max-sm:text-sm">{{ item.title }}</div>
      </li>
    }
  </ol>
</div> -->
