<div class="relative">
  <div class="bg-banner -z-1"></div>

  <div class="lg:container max-lg:px-3 mx-auto sm:h-120 z-1">
    <div class="sm:flex gap-3 md:gap-6 sm:py-12">
      <section class="flex-1 flex flex-col gap-5">
        <div></div>

        <!-- <div>
          <span class="badge">Москва и область</span>
        </div> -->

        <h1 class="-font-semibold max-lg:text-4xl/10 lg:text-5xl/14">Шторы на заказ</h1>

        <ul class="flex flex-col gap-2">
          <li>Собственный цех и пошив «ПОД КЛЮЧ»</li>
          <li>Подберем шторы под любой бюджет и стиль</li>
          <li>Выезд и замер по Москве и Московской области</li>
          <li>Опытные дизайнеры решают задачи любой сложности</li>
          <li>Лидеры по отзывам Клиентов - гарантированное качество</li>
        </ul>

        <section class="flex flex-col gap-2">
          <div class="flex-1">Индивидувльный пошив по вашим размерам</div>
          <div class="flex-1">Безплатныц выезд дизайнера</div>
          <div class="flex-1">Установка карнизов и штор</div>
          <div class="flex-1">Гарантия качества на все работы</div>
        </section>
      </section>

      <section class="flex-1">
        <!-- <app-main-banner-form></app-main-banner-form> -->
      </section>
    </div>
  </div>
</div>
