<div class="my-6">
  <div class="container max-lg:px-3 mx-auto">
    <div class="flex flex-col items-center gap-4">
      <section class="flex flex-col gap-5 max-sm:px-5">
        <header class="text-center flex flex-col gap-2 sm:gap-3">
          <h2 class="lg:text-4xl text-2xl">Расчет цены натяжного потолка с установкой</h2>

          <div class="md:w-175 mx-auto text-gray-500">
            Cтоимость зависит от выбранных материалов и технических расчетов
          </div>
        </header>
      </section>

      <section class="flex flex-col gap-8 md:max-w-240">
        <form
          class="flex max-md:flex-col gap-4"
          [formGroup]="form"
          [formGroupStore]="'app-price-calculation'"
          (submit)="formSubmit()"
        >
          <div class="flex-1 flex flex-col gap-4">
            <!-- Тип потолка -->
            <tui-textfield
              tuiChevron
              [stringify]="typeOptions() | stringifySetter: 'title'"
              [tuiTextfieldCleaner]="false"
            >
              <label tuiLabel>Тип потолка</label>
              <input tuiSelect formControlName="type" />

              <div class="bg-gray-100 text-gray-600 px-2 py-1 rounded-full text-sm">
                {{ 0 | price: typeOptions() }} руб/м²
              </div>

              <tui-data-list *tuiDropdown>
                @for (item of typeOptions(); track item) {
                  <button new tuiOption type="button" [value]="item.id">{{ item.title }}</button>
                }
              </tui-data-list>
            </tui-textfield>

            <!-- Укажите площадь -->
            <fieldset>
              <tui-textfield>
                <label tuiLabel>Укажите площадь</label>
                <input tuiSlider type="range" />
                <input tuiInputSlider postfix=" м²" [min]="minRange()" [max]="maxRange()" formControlName="size" />
              </tui-textfield>

              <div class="flex justify-between px-5 pt-2">
                @for (label of ticksLabels(); track label) {
                  <small>{{ label }}</small>
                }
              </div>
            </fieldset>

            <!-- Стеновой профиль-->
            <tui-textfield
              tuiChevron
              [stringify]="wallProfile() | stringifySetter: 'title'"
              [tuiTextfieldCleaner]="false"
            >
              <label tuiLabel>Стеновой профиль</label>
              <input tuiSelect formControlName="profile" />

              <div class="bg-gray-100 text-gray-600 px-2 py-1 rounded-full text-sm">
                {{ 0 | price: wallProfile() }} руб/м.пог.
              </div>

              <tui-data-list *tuiDropdown>
                @for (item of wallProfile(); track item) {
                  <button new tuiOption type="button" [value]="item.id">{{ item.title }}</button>
                }
              </tui-data-list>
            </tui-textfield>

            <!-- Периметр помещений -->
            <fieldset>
              <tui-textfield>
                <label tuiLabel>Периметр помещений</label>
                <input tuiSlider type="range" />
                <input
                  tuiInputSlider
                  postfix=" м.пог."
                  [min]="minPerimeter()"
                  [max]="maxPerimeter()"
                  formControlName="perimeter"
                />
              </tui-textfield>
            </fieldset>

            <!-- Карнизы для штор -->
            <tui-textfield>
              <label tuiLabel>Карнизы для штор</label>

              <input postfix=" пог. м" tuiInputNumber [step]="1" [min]="0" [max]="100" formControlName="сurtainRods" />

              <div class="bg-gray-100 text-gray-600 px-2 py-1 rounded-full text-sm">400 руб/пог. м</div>
            </tui-textfield>

            <!-- Люстры или светильники -->
            <tui-textfield>
              <label tuiLabel>Люстры или светильники</label>
              <input postfix=" шт" tuiInputNumber [step]="1" [min]="0" [max]="100" formControlName="lighting" />

              <div class="bg-gray-100 text-gray-600 px-2 py-1 rounded-full text-sm">1000 руб/шт</div>
            </tui-textfield>

            <!-- Пожелание -->
            <!-- <tui-textfield [tuiTextfieldCleaner]="false">
            <label tuiLabel>Пожелание</label>
            <textarea tuiTextarea formControlName="description" [min]="3" [max]="3"></textarea>
          </tui-textfield> -->

            <!-- <fieldset class="flex max-lg:flex-col gap-3">
            <div class="lg:w-50 lg:text-end font-medium">Освещение:</div>

            <data-list-options formControlName="lightings" [items]="lightins()">
              <div class="flex flex-wrap gap-3">
                @for (item of lightins(); track item) {
                  <data-list-option [value]="item" [icon]="item.icon">{{ item.title }}</data-list-option>
                }
              </div>
            </data-list-options>
          </fieldset> -->

            <!-- <fieldset class="flex max-lg:flex-col gap-3">
            <div class="lg:w-50 lg:text-end font-medium">Карнизы для штор:</div>
            <div class="flex">
              <tui-textfield class="min-w-60" tuiTextfieldSize="m" [tuiTextfieldCleaner]="false">
                <input
                  tuiInputNumber
                  postfix=" пог. м"
                  [step]="1"
                  [min]="0"
                  [max]="200"
                  formControlName="сurtainRods"
                />
              </tui-textfield>
            </div>
          </fieldset> -->
          </div>

          <div class="flex-1">
            <div class="rounded-xl bg-gray-light p-6 flex flex-col gap-3 relative">
              <!-- <div class="rounded-full p-3 bg-white leading-0 absolute top-8 left-6">
              <ng-icon name="lucideCalculator" class="text-4xl text-blue-600" />
            </div> -->

              <h3 class="font-medium text-2xl text-center">Стоимость</h3>

              <section class="flex items-end justify-center gap-3">
                <div class="item-center self-center">
                  <span
                    >от
                    <span class="text-3xl font-bold">{{ 0 | calculate | tuiAmount }}</span>
                    руб</span
                  >
                </div>
              </section>

              <!-- Введите имя -->
            <tui-textfield [tuiTextfieldCleaner]="false">
              <label tuiLabel>Введите имя</label>
              <input tuiInput formControlName="name" [maxlength]="100" />
            </tui-textfield>

              <!-- Контакты -->
              <tui-textfield *defer [tuiTextfieldCleaner]="false" class="min-w-60">
                <label tuiLabel>Укажите телефон</label>
                <input tuiInputPhone formControlName="phone" mask="+7(###)###-##-##" />
              </tui-textfield>

              <footer class="flex justify-end">
                <button class="btn-sm btn-primary w-full" type="submit">Оформить заказ</button>
              </footer>
              <small>*Получите смету для вашего проекта</small>
            </div>
          </div>
        </form>

        <ng-content></ng-content>
      </section>
    </div>
  </div>
</div>
