/*
  Thin (Hairline)	100
  Extra Light (Ultra Light)	200
  Light	300
  Normal (Regular)	400
  Medium	500
  Semi Bold (Demi Bold)	600
  Bold	700
  Extra Bold (Ultra Bold)	800
  Black (Heavy)	900
*/

$font-path: '/fonts/regal-text-pro';

@font-face {
    font-family: 'PF Regal Text Pro';
    src: url('#{$font-path}/PFRegalTextPro-RegularA.eot');
    src: local('PFRegalTextPro-RegularA'),
        url('#{$font-path}/PFRegalTextPro-RegularA.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/PFRegalTextPro-RegularA.woff2') format('woff2'),
        url('#{$font-path}/PFRegalTextPro-RegularA.woff') format('woff'),
        url('#{$font-path}/PFRegalTextPro-RegularA.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF Regal Text Pro';
    src: url('#{$font-path}/PFRegalTextPro-Bold.eot');
    src: local('PFRegalTextPro-Bold'),
        url('#{$font-path}/PFRegalTextPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/PFRegalTextPro-Bold.woff2') format('woff2'),
        url('#{$font-path}/PFRegalTextPro-Bold.woff') format('woff'),
        url('#{$font-path}/PFRegalTextPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF Regal Text Pro';
    src: url('#{$font-path}/PFRegalTextPro-Medium.eot');
    src: local('PFRegalTextPro-Medium'),
        url('#{$font-path}/PFRegalTextPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/PFRegalTextPro-Medium.woff2') format('woff2'),
        url('#{$font-path}/PFRegalTextPro-Medium.woff') format('woff'),
        url('#{$font-path}/PFRegalTextPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF Regal Text Pro';
    src: url('#{$font-path}/PFRegalTextPro-RegularBItalic.eot');
    src: local('PFRegalTextPro-RegularBItalic'),
        url('#{$font-path}/PFRegalTextPro-RegularBItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/PFRegalTextPro-RegularBItalic.woff2') format('woff2'),
        url('#{$font-path}/PFRegalTextPro-RegularBItalic.woff') format('woff'),
        url('#{$font-path}/PFRegalTextPro-RegularBItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF Regal Text Pro';
    src: url('#{$font-path}/PFRegalTextPro-BlackItalic.eot');
    src: local('PFRegalTextPro-BlackItalic'),
        url('#{$font-path}/PFRegalTextPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/PFRegalTextPro-BlackItalic.woff2') format('woff2'),
        url('#{$font-path}/PFRegalTextPro-BlackItalic.woff') format('woff'),
        url('#{$font-path}/PFRegalTextPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF Regal Text Pro';
    src: url('#{$font-path}/PFRegalTextPro-Black.eot');
    src: local('PFRegalTextPro-Black'),
        url('#{$font-path}/PFRegalTextPro-Black.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/PFRegalTextPro-Black.woff2') format('woff2'),
        url('#{$font-path}/PFRegalTextPro-Black.woff') format('woff'),
        url('#{$font-path}/PFRegalTextPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF Regal Text Pro';
    src: url('#{$font-path}/PFRegalTextPro-UBlack.eot');
    src: local('PFRegalTextPro-UBlack'),
        url('#{$font-path}/PFRegalTextPro-UBlack.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/PFRegalTextPro-UBlack.woff2') format('woff2'),
        url('#{$font-path}/PFRegalTextPro-UBlack.woff') format('woff'),
        url('#{$font-path}/PFRegalTextPro-UBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF Regal Text Pro';
    src: url('#{$font-path}/PFRegalTextPro-MediumItalic.eot');
    src: local('PFRegalTextPro-MediumItalic'),
        url('#{$font-path}/PFRegalTextPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/PFRegalTextPro-MediumItalic.woff2') format('woff2'),
        url('#{$font-path}/PFRegalTextPro-MediumItalic.woff') format('woff'),
        url('#{$font-path}/PFRegalTextPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF Regal Text Pro';
    src: url('#{$font-path}/PFRegalTextPro-UBlackItalic.eot');
    src: local('PFRegalTextPro-UBlackItalic'),
        url('#{$font-path}/PFRegalTextPro-UBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/PFRegalTextPro-UBlackItalic.woff2') format('woff2'),
        url('#{$font-path}/PFRegalTextPro-UBlackItalic.woff') format('woff'),
        url('#{$font-path}/PFRegalTextPro-UBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF Regal Text Pro';
    src: url('#{$font-path}/PFRegalTextPro-RegularB.eot');
    src: local('PFRegalTextPro-RegularB'),
        url('#{$font-path}/PFRegalTextPro-RegularB.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/PFRegalTextPro-RegularB.woff2') format('woff2'),
        url('#{$font-path}/PFRegalTextPro-RegularB.woff') format('woff'),
        url('#{$font-path}/PFRegalTextPro-RegularB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Regal Text Pro';
    src: url('#{$font-path}/PFRegalTextPro-RegularAItalic.eot');
    src: local('PFRegalTextPro-RegularAItalic'),
        url('#{$font-path}/PFRegalTextPro-RegularAItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/PFRegalTextPro-RegularAItalic.woff2') format('woff2'),
        url('#{$font-path}/PFRegalTextPro-RegularAItalic.woff') format('woff'),
        url('#{$font-path}/PFRegalTextPro-RegularAItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PF Regal Text Pro';
    src: url('#{$font-path}/PFRegalTextPro-BoldItalic.eot');
    src: local('PFRegalTextPro-BoldItalic'),
        url('#{$font-path}/PFRegalTextPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/PFRegalTextPro-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}/PFRegalTextPro-BoldItalic.woff') format('woff'),
        url('#{$font-path}/PFRegalTextPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

