<div class="container mx-auto flex items-center gap-6">
  <section class="flex-1 flex flex-col gap-4">
    <header class="flex flex-col gap-3 my-3">
      <h2 class="md:text-4xl text-3xl">{{ title() }}</h2>
    </header>

    <div>
      Вы получите беслпатно техническую консультацию, точный замер и расчет стоимости. Вам не придется тратить время на
      посещение офис
    </div>

    <form [formGroupStore]="'app-leave-request'">
      <section class="grid grid-cols-2 gap-3">
        <tui-textfield [tuiTextfieldCleaner]="false">
          <label tuiLabel>Введите имя</label>
          <input tuiTextfield [(ngModel)]="value" [ngModelOptions]="{standalone: true}" />
        </tui-textfield>

        <tui-textfield [tuiTextfieldCleaner]="false">
          <label tuiLabel>Введите имя</label>
          <input tuiTextfield [(ngModel)]="value" [ngModelOptions]="{standalone: true}" />
        </tui-textfield>
      </section>

      <button class="btn-primary">Получить предложение</button>
    </form>
  </section>

  <section class="flex-1">
    <figure class="w-110"></figure>
  </section>
</div>
