figure {
  display: inline-block;
  background-image: url(/images/leave-request-1.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1/1;
}
