.accordion {
  border-radius: 0;

  [tuiAccordion] {
    mask-image: none;
    background: transparent !important;
    border-block-start: 1px solid #dddddd;
  }

  tui-expand,
  [tuiCell] {
    box-shadow: none;
    padding-inline: 0.5rem;
    padding-block: 0rem;
  }
}
