<div class="container mx-auto flex flex-col gap-3 py-3">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-3xl">{{ title() }}</h2>

    <div class="md:w-175 mx-auto text-gray-500">
      Ваш ремонт будет один в один, как в дизайн-проекте. Сравните сами.<br />
      Слева проект, справа готовый ремонт
    </div>
  </header>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-4">
    @for (item of items(); track item) {
      <figure class="bg-image aspect-3/2" [style.background-image]="'url(' + item.src + ')'">
        <img class="hidden" [attr.src]="item.src" [attr.alt]="item.title" />
      </figure>
    }
  </div>
</div>
