<div class="container mx-auto my-10 flex flex-col gap-4">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-3xl">Наши клиенты</h2>
  </header>

  <section class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4 mx-auto">
    @for (item of [1, 2, 3, 4]; track item) {
      <article class="flex flex-col gap-3">
        <figure class="aspect-3/2 rounded-lg overflow-hidden">
          <img src="/images/client-1.jpg" alt="" class="block" />
        </figure>
      </article>
    }
  </section>
</div>
