/*
  Thin (Hairline)	100
  Extra Light (Ultra Light)	200
  Light	300
  Normal (Regular)	400
  Medium	500
  Semi Bold (Demi Bold)	600
  Bold	700
  Extra Bold (Ultra Bold)	800
  Black (Heavy)	900
*/

$font-path: '/fonts/rotonda';

@font-face {
  font-family: 'RotondaC';
  src:
    url('#{$font-path}/RotondaC.otf') format('opentype'),
    url('#{$font-path}/RotondaC.woff') format('woff');
}

@font-face {
  font-family: 'RotondaC-Bold';
  src:
    url('#{$font-path}/RotondaC-Bold.otf') format('opentype'),
    url('#{$font-path}/RotondaC-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Scripticus';
  src:
    url('#{$font-path}/Scripticus.otf') format('opentype'),
    url('#{$font-path}/Scripticus.woff') format('woff');
}

@font-face {
  font-family: 'ScripticusBold';
  src:
    url('#{$font-path}/ScripticusBold.otf') format('opentype'),
    url('#{$font-path}/ScripticusBold.woff') format('woff');
}
