<div class="flex flex-1 relative">
  <div class="absolute flex h-full w-full">
    <section class="flex flex-col p-3 h-full border-e">
      <div>
        <brn-select
          class="inline-block"
          placeholder="Select schema"
          [formControl]="schemaControl"
        >
          <hlm-select-trigger class="w-56">
            <div class="flex gap-2">
              <span class="text-gray-500">Schema:</span>
              <hlm-select-value />
            </div>
          </hlm-select-trigger>

          <hlm-select-content []="true">
            @for (item of schemaOptions(); track item) {
              <hlm-option [value]="item.value">{{ item.title }}</hlm-option>
            }
          </hlm-select-content>
        </brn-select>
      </div>

      <div class="overflow-auto">
        <!-- Studio -->
        <section hlmSidebarGroup>
          <div hlmSidebarGroupLabel class="flex gap-1">
            <ng-icon hlm name="lucideTable2" />
            Studio
          </div>

          <!-- Nav Menu -->
          <div hlmSidebarGroupContent>
            <ul hlmSidebarMenu>
              @for (item of menuItems(); track item) {
                <li hlmSidebarMenuItem>
                  <a
                    hlmSidebarMenuButton
                    [routerLink]="item.link"
                    [isActive]="item?.active()"
                  >
                    <ng-icon hlm [name]="item.icon" />
                    <span>{{ item.title }}</span>
                  </a>
                </li>
              }
            </ul>
          </div>
        </section>

        <hlm-separator />

        <!-- Content -->
        <section hlmSidebarGroup>
          <div hlmSidebarGroupLabel class="flex gap-1">
            <ng-icon hlm name="lucideTable2" />
            Content
          </div>

          <!-- Nav Menu -->
          <div hlmSidebarGroupContent>
            <ul hlmSidebarMenu>
              @for (item of contentMenu(); track item) {
                <li hlmSidebarMenuItem>
                  <a
                    hlmSidebarMenuButton
                    [routerLink]="item.link"
                    [isActive]="item?.active()"
                  >
                    <ng-icon hlm [name]="item.icon" />
                    <span>{{ item.title }}</span>
                  </a>
                </li>
              }
            </ul>
          </div>
        </section>

        <hlm-separator />

        <section hlmSidebarGroup>
          <!-- <div hlmSidebarGroupLabel class="flex gap-1">
            <ng-icon hlm name="lucideTable2" />
            Tables
          </div> -->

          <div hlmSidebarGroupContent class="mb-3">
            <div hlmInputGroup class="w-full sm:ml-auto sm:w-auto">
              <input hlmInputGroupInput placeholder="Search text" />
              <div hlmInputGroupAddon>
                <ng-icon name="lucideSearch" />
              </div>
            </div>
          </div>

          <!-- Sub Menu-->
          <div hlmSidebarGroupContent>
            <ul hlmSidebarMenu>
              @for (item of menuItems(); track item) {
                @if (item?.active()) {
                  @for (child of item?.children(); track child) {
                    <li hlmSidebarMenuItem>
                      <a hlmSidebarMenuButton routerLinkActive="active">
                        <ng-icon hlm [name]="child.icon" />
                        <span>{{ child.title }}</span>
                      </a>
                    </li>
                  }
                }
              }
            </ul>
          </div>
        </section>
      </div>
    </section>

    <section class="flex-1 h-full">
      <router-outlet />
    </section>
  </div>
</div>
