<div class="container mx-auto flex flex-col gap-3">
  <header class="text-center flex flex-col gap-3 my-3">
    <h2 class="text-bold text-3xl font-bold">{{ title() }}</h2>

    <small>
      Вы получаете идеально ровные потолки, точно соответствующие вашим требованием, чистый монтаж, гарантию на работы и
      хорошее настроение!
    </small>
  </header>

  <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-3 max-sm:px-3">
    @for (item of items; track item; let index = $index) {
      <figure [style.background-image]="'url(' + item.src + ')'"></figure>
    }
  </div>
</div>
