.bg-img-1 {
  background-image: url(/img/bg-img-2.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 268px;
  overflow: hidden;
}

.bg-img-1 {
  background-image: url(/img/bg-img-4.png);
  background-position: center 140px;
  background-repeat: no-repeat;
  background-size: 232px;
  overflow: hidden;
}

.bg-img-2 {
  background-image: url(/img/bg-img-1.png);
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-size: 268px;
  overflow: hidden;
}

.bg-img-3 {
  background-image: url(/img/bg-img-5.png);
  background-position: center 129px;
  background-repeat: no-repeat;
  background-size: 268px;
  overflow: hidden;
}
