<div class="container mx-auto my-8 flex flex-col gap-4">
  <div class="flex gap-4">
    <article class="w-1/3">
      <h3 class="text-xl font-medium">Закажите бесплатный выезд дизайнера-замерщика</h3>

      <p>
        Оставьте заявку на сайте, по телефону +7 (495) 320-86-51, в WhatsApp или Telegram. Выезд осуществляется с
        образцами материалов в любой район Москвы и МО.
      </p>

      <footer>
        <a class="btn btn-promary btn-sm">Запросить встречу</a>
      </footer>
    </article>

    <article class="w-1/3">
      <h3 class="text-xl font-medium">Запросите предварительный расчет</h3>

      <p>Подготовим предложение на основании дизайн-проекта или ориентировочных размеров.</p>

      <footer>
        <a class="btn btn-promary btn-sm">Заказать расчет</a>
      </footer>
    </article>

    <article class="w-1/3">
      <h3 class="text-xl font-medium">Проконсультируйтесь со специалистом по телефону</h3>

      <p>Ответим на любые вопросы, связанные с выбором изделий.</p>

      <footer>
        <a class="btn btn-promary btn-sm">Получить консультацию</a>
      </footer>
    </article>
  </div>
</div>

<div class="container mx-auto my-8 flex flex-col gap-8">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-2xl text-xl">Закажите бесплатный выезд дизайнера-замерщика в любой район Москвы и МО</h2>
  </header>

  <section class="mx-auto max-w-100">
    <form
      [formStore]="'main-application-measurement'"
      class="flex flex-col gap-4 -textfield-no-border"
      [formGroup]="form"
      (submit)="formSubmit()"
    >
      <tui-textfield [tuiTextfieldCleaner]="false">
        <label tuiLabel>Укажите телефон</label>
        <input tuiInputPhone formControlName="phone" mask="+7(###)###-##-##" />
      </tui-textfield>

      <tui-textfield [tuiTextfieldCleaner]="false">
        <label tuiLabel>Комментарий</label>
        <textarea tuiTextarea formControlName="description"></textarea>
      </tui-textfield>

      <label tuiLabel class="text-sm">
        <input tuiCheckbox type="checkbox" formControlName="checked" />
        <small i18n>
          Оставляя свои контактные данные, Вы подтверждаете свое совершеннолетие, соглашаетесь на обработку персональных
          данных в соответствии с
          <a class="cursor-pointer">Политикой персональных данных</a>
        </small>
      </label>

      <footer>
        <button class="btn btn-primary btn-sm w-full">Заказать</button>
      </footer>
    </form>
  </section>
</div>
