.bg-banner {
  background-image: url(/img/banner-2.jpg);
  background-image: url(/img/banner-1.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

.bg-circle {
  z-index: 1;
  position: relative;
}
