@use 'sass:meta';
@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

html {
  font-size: 14px;
  // --default-font-family: Akrobat,  sans-serif;
  // --default-font-family: ScripticusBold,  sans-serif;
  // --default-font-family: Akrobat,  sans-serif;
  // --default-font-family: Gilroy,  sans-serif;
  --default-font-family: Manrope, sans-serif;
  letter-spacing: 2%;
}

/*
  Fonts
*/
// @include meta.load-css('theme/fonts/rotonda/stylesheet.scss');
// @include meta.load-css('theme/fonts/gilroy/stylesheet.scss');
@include meta.load-css('theme/fonts/akrobat/stylesheet.scss');
@include meta.load-css('theme/fonts/manrope/stylesheet.scss');

/*
  App Theme
*/
@include meta.load-css('theme/buttons.scss');
@include meta.load-css('theme/taiga-ui.scss');

.badge {
  display: inline-block;
  border-radius: 40px;
  background-color: #f9a81b;
  padding: 0.2rem 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #fff;
}

.text-price {
  font-family: Akrobat;
}

.bg-image {
  display: inline-block;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

// .form-wrap {
//     background: #6a7181;
//     outline: 13px solid rgba(255, 255, 255, 0.2);
// }

.bg-gray {
  outline: 13px solid rgba(255, 255, 255, 0.2);
  background: #6a7181;
}
