<div class="container mx-auto my-10 flex flex-col gap-4">
  <section class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4 mx-auto">
    <article class="flex flex-col gap-3 text-center items-center bg-you-love p-3 rounded-sm">
      <ng-icon src="/icons/way-we-work-1.svg" class="text-6xl" />

      <h4 class="font-semibold text-2xl">Сотни бесплатных образцов тканей</h4>

      <p class="text-base mt-auto">
        Высококачественные, экологически чистые материалы, подходящие к любому стилю интерьера.
      </p>
    </article>

    <article class="flex flex-col gap-3 text-center items-center bg-you-love p-3 rounded-sm">
      <ng-icon src="/icons/way-we-work-2.svg" class="text-6xl" />

      <h4 class="font-semibold text-2xl">Бесплатная услуга по разработке дизайна.</h4>

      <p class="text-base mt-auto">
        Индивидуальный дизайн штор, соответствующих вашему уникальному стилю и пространству.
      </p>
    </article>

    <article class="flex flex-col gap-3 text-center items-center bg-you-love p-3 rounded-sm">
      <ng-icon src="/icons/way-we-work-3.svg" class="text-6xl" />

      <h4 class="font-semibold text-2xl">Создано вручную специально для вас</h4>

      <p class="text-base mt-auto">Изготавливается на заказ опытными мастерами с учетом ваших точных потребностей.</p>
    </article>

    <article class="flex flex-col gap-3 text-center items-center bg-you-love p-3 rounded-sm">
      <ng-icon src="/icons/way-we-work-4.svg" class="text-6xl" />

      <h4 class="font-semibold text-2xl">Бесплатная доставка</h4>

      <p class="text-base mt-auto">
        Наслаждайтесь быстрой и надежной доставкой каждого заказа без дополнительных сборов за доставку.
      </p>
    </article>
  </section>
</div>
