<div class="container mx-auto my-8 flex flex-col gap-4">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-2xl">Акции / скидки</h2>
  </header>

  <section class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4 mx-auto">
    <article class="flex flex-col gap-3">
      <picture>
        <img src="/catalog/image-1.jpg" />
      </picture>

      <h3 class="text-xl font-medium">Распродажа</h3>

      <p>Скидки до 45% на ткани для штор и жалюзи! Успейте оформить заказ по выгодной цене.</p>
    </article>

    <article class="flex flex-col gap-3">
      <picture>
        <img src="/catalog/image-1.jpg" />
      </picture>

      <h3 class="text-xl font-medium">Ткани для рулонных штор</h3>

      <p>Скидки на ткани для рулонных штор до 30 %.</p>
    </article>

    <article class="flex flex-col gap-3">
      <picture>
        <img src="/catalog/image-1.jpg" />
      </picture>

      <h3 class="text-xl font-medium">Скидка на алюминиевый карниз 50 %</h3>

      <p>Скидка 50% на алюминиевые карнизы при заказе любых штор!</p>
    </article>

    <article class="flex flex-col gap-3">
      <picture>
        <img src="/catalog/image-1.jpg" />
      </picture>

      <h3 class="text-xl font-medium">Электрокарнизы со скидкой 50 %</h3>

      <p>Получите скидку 50 % на электрокарнизы.</p>
    </article>
  </section>
</div>
