<div hlmSidebarWrapper>
  <hlm-sidebar class="bg-sidebar">
    <section hlmSidebarHeader>
      <ul hlmSidebarMenu>
        <li hlmSidebarMenuItem>
          <a hlmSidebarMenuButton size="lg" href="#">
            <div
              class="-bg-sidebar-primary text-sidebar-primary-foreground flex aspect-square size-8 items-center justify-center rounded-lg"
            >
              <ng-icon hlm name="appLogo" class="text-base" />
            </div>
            <!-- <div class="grid flex-1 text-left text-sm leading-tight">
              <span class="truncate font-medium">Acme Inc</span>
              <span class="truncate text-xs">Enterprise</span>
            </div> -->
          </a>
        </li>
      </ul>
    </section>

    <section hlmSidebarContent>
      <app-nav-main [items]="data.navMain" />
      <app-nav-secondary class="mt-auto" [items]="data.navSecondary" />
    </section>

    <section hlmSidebarFooter>
      <app-nav-user [user]="data.user" />
    </section>
  </hlm-sidebar>

  <main hlmSidebarInset>
    <header class="flex items-center justify-between px-4 h-12">
      <button hlmSidebarTrigger><span class="sr-only"></span></button>

      <div class="flex gap-2">
        <button hlmBtn size="icon" variant="outline" class="size-7">
          <ng-icon hlm size="sm" name="lucideRefreshCcw"></ng-icon>
        </button>

        <button hlmBtn size="icon" variant="outline" class="size-7">
          <ng-icon hlm size="sm" name="lucideMaximize"></ng-icon>
        </button>

        <button hlmBtn size="icon" variant="outline" class="size-7">
          <ng-icon hlm size="sm" name="lucideMinimize"></ng-icon>
        </button>
      </div>
    </header>

    <router-outlet />
  </main>
</div>
