<div class="bg-dark-knight">
  <div class="container mx-auto text-white">
    <div class="flex gap-6 pt-5 pb-4">
      <section>
        <a [routerLink]="['/']"><img class="w-6" src="/logo/logo-icon-light.svg" /></a>
      </section>

      <section class="w-1/4 flex flex-col gap-3">
        <h4 class="text-md">Контакты</h4>

        <div class="flex items-center gap-2">
          <ng-icon name="lucidePhone" class="text-white" />
          <a href="tel:+7{{ phoneContact }}">{{ phoneContact | phoneFormat }}</a>
        </div>

        <a href="mailto:info@deckenmaster.ru">{{ 'Info@deckenmaster.ru' }}</a>

        <div class="text-xs">
          {{ periodContact }}. ООО «DeckenMaster» - Установка натяжных потолков в Москве и области.
        </div>
      </section>

      <section class="flex flex-col gap-3">
        <h4 class="text-md">Меню</h4>

        <ol>
          <li><a href="javascript:void(0)">О компании</a></li>
          <li><a href="javascript:void(0)">Акции</a></li>
          <li><a href="javascript:void(0)">Наши работы</a></li>
          <li><a href="javascript:void(0)">Отзывы</a></li>
        </ol>
      </section>

      <div class="flex-1"></div>

      <div class="flex gap-4">
        <a href="https://t.me/{{ telegramContact }}" target="_blank" title="Telegram"
          ><img class="w-6 block text-white" src="/icons/telegram-light.svg"
        /></a>

        <a [href]="maxContact" target="_blank"><img class="w-6 block" title="Max" src="/icons/max-icon-light.svg" /></a>
      </div>
    </div>
  </div>
</div>
