<div class="bg-black">
  <div class="lg:container px-5 md:mx-auto text-white">
    <div class="flex max-lg:flex-col gap-6 pt-5 pb-4">
      <section class="flex lg:hidden">
        <div class="flex-1 min-w-15">
          <a [routerLink]="['/']"><img class="w-6" src="/logo/logo-icon-light.svg" alt="Logotip" /></a>
        </div>

        <div>
          <ng-container [ngTemplateOutlet]="sociallaLink"></ng-container>
        </div>
      </section>

      <div class="flex max-lg:flex-col gap-3">
        <section class="lg:w-70 flex flex-col gap-3">
          <h4 class="text-md">Контакты</h4>

          <div class="flex items-center gap-2">
            <ng-icon name="lucidePhone" class="text-white" />
            <a class="max-sm:text-sm" href="tel:+7{{ phoneContact }}">{{ phoneContact | phoneFormat }}</a>
          </div>

          <a class="max-sm:text-sm" href="mailto:info@deckenmaster.ru">{{ 'info@deckenmaster.ru' }}</a>

          <div class="text-xs">
            {{ periodContact }}. ООО «DeckenMaster» - Установка натяжных потолков в Москве и области.
          </div>
        </section>

        <!-- Catalog -->
        <nav class="flex-1">
          <ul class="flex max-lg:flex-col flex-wrap gap-5">
            @for (child of footerMenu(); track $index) {
              <li class="flex flex-col flex-wrap gap-2">
                @if (child.children?.length) {
                  <div class="leading-none font-medium py-1 uppercase text-sm">{{ child.title }}</div>

                  <section class="flex lg:flex-col flex-wrap gap-2">
                    @for (sub of child.children; track sub) {
                      <a
                        scrollLink
                        [routerLink]="sub.link"
                        [queryParams]="sub.queryParams ?? {}"
                        [fragment]="sub.fragment"
                        class="truncate leading-none text-sm py-1"
                      >
                        {{ sub.title }}
                      </a>
                    }
                  </section>
                } @else {
                  <a
                    scrollLink
                    [routerLink]="child.link"
                    [queryParams]="child.queryParams ?? {}"
                    [fragment]="child.fragment"
                  >
                    <div class="flex flex-col gap-1 text-sm">
                      @if (child.title) {
                        <div class="leading-none font-medium">{{ child.title }}</div>
                      }
                      @if (child.description) {
                        <div class="text-muted-foreground line-clamp-2">{{ child.description }}</div>
                      }
                    </div>
                  </a>
                }
              </li>
            }
          </ul>
        </nav>
      </div>

      <section class="w-15 lg:block hidden">
        <ng-container [ngTemplateOutlet]="sociallaLink"></ng-container>
      </section>
    </div>
  </div>
</div>

<ng-template #sociallaLink>
  <div class="flex gap-2">
    <a class="max-sm:text-sm" href="https://t.me/{{ telegramContact }}" target="_blank" alt="Telegram"
      ><img class="w-6 block text-white" src="/icons/telegram-light.svg" alt="Logotip"
    /></a>

    <a class="max-sm:text-sm" [href]="maxContact" target="_blank"
      ><img class="w-6 block" title="Max" src="/icons/max-light.svg" alt="Max"
    /></a>
  </div>
</ng-template>
