<!-- <div class="container mx-auto">
  НАТЯЖНЫЕ ПОТОЛКИ B MOCKBE
  ЗВОНИТЕ КРУГЛОСУТОЧНО
  +7 495 000-00-00
  ЗАКАЗАТЬ ЗВОНОК
</div> -->

<div class="container mx-auto">
  <div class="flex">
    <section class="w-1/4">
      <div class="flex flex-col items-center justify-center gap-3 h-full">
        <img class="w-1/3" src="/logo/logo.svg">

      © 2018-2026. ООО «DeckenMaster» - Установка натяжных потолков в Москве и области.
      </div>
    </section>

    <section class="flex flex-col gap-3">
      <h4 class="text-2xl uppercase">Информация</h4>

      <ol>
        <li><a href="javascript:void(0)">О компании</a></li>
        <li><a href="javascript:void(0)">Акции</a></li>
        <li><a href="javascript:void(0)">Наши работы</a></li>
        <li><a href="javascript:void(0)">Отзывы</a></li>
        <li><a href="javascript:void(0)">Политика конфиденциальности</a></li>
      </ol>
    </section>

    <section class="flex flex-col gap-3">
      <h4 class="text-2xl uppercase">Контакты</h4>
      
      <a href="tel:+74993978881">8 (499) 397-88-81</a>

      <a href="mailto:info@deckenmaster.ru">Info@deckenmaster.ru</a>
    </section>
  </div>
</div>
