<div class="bg-black">
  <header class="container mx-auto text-white">
    <nav>
      <ol class="flex items-center gap-6 py-1">
        <li>
          <!-- <ng-icon hlm name="lucideChevronDown" class="ml-auto" /> -->
          <a [routerLink]="['/']"><img src="/logo/logo-text-light.svg" style="width: 130px" /></a>
        </li>

        <li class="flex-1"></li>

        <li>
          <nav class="flex items-center gap-12">
            <a href="javascript:void(0)">Услуги</a>
            <a href="javascript:void(0)">Акции</a>
            <a href="javascript:void(0)">О компании</a>
            <a href="javascript:void(0)">Контакты</a>
          </nav>
        </li>

        <li class="flex-1"></li>

        <li>
          <button class="btn-primary btn-xs">Вызвать замерщика</button>
        </li>

        <li>
          <!-- <a href="javascript:void(0)" class="text-xs">Заказать звонок</a> -->

          <div class="flex items-center gap-2">
            <ng-icon name="lucidePhone" class="text-white" />
            <a href="tel:+74950000000">+7 495 000-00-00</a>
          </div>
        </li>
      </ol>
    </nav>
  </header>
</div>

<!-- <div class="container mx-auto">
  <header>
    <nav>
      <ol class="flex gap-3 py-3">
        <li>
          <img src="/logo/logo-text.svg" style="width: 130px" />
        </li>

        <li class="flex-1"></li>

        <li>Звоните круглосуточно</li>

        <li>
          <a href="tel:+74950000000">+7 495 000-00-00</a>
        </li>

        <li>
          <a>Заказать звонок</a>
        </li>
      </ol>
    </nav>
  </header>
</div> -->

