<ol class="lg:container max-lg:px-3 mx-auto flex items-center py-2">
  <li class="flex-1">
    <nav hlmNavigationMenu openOn="click" class="flex max-md:hidden">
      <ul hlmNavigationMenuList class="flex-wrap gap-4">
        @for (item of navMenu(); track item) {
          <li hlmNavigationMenuItem class="hidden md:flex">
            @if (item.link) {
              <a hlmNavigationMenuLink [routerLink]="item.link">{{ item.title }}</a>
            } @else {
              @if (item.group) {
                <div class="leading-none font-medium text-md uppercase">{{ item.title }}</div>
              } @else {
                <button hlmNavigationMenuTrigger>
                  {{ item.title }}

                  @if (item.children?.length) {
                    <ng-icon
                      name="lucideChevronDown"
                      class="relative top-px ml-1 size-3 transition duration-300 group-data-[state=open]:rotate-180"
                    />
                  }
                </button>
              }

              @if (item.children?.length; as count) {
                <hlm-navigation-menu-content *hlmNavigationMenuPortal class="shadow-xl bg-gray-100 grid-cols-4">
                  <ul class="grid w-[400px] md:w-[500px] md:grid-cols-{{ count }} lg:w-[600px] p-2 gap-2">
                    @for (child of item.children; track $index) {
                      <li class="flex flex-col gap-2">
                        @if (child.group) {
                          <div class="leading-none font-medium p-1 uppercase">{{ child.title }}</div>

                          @for (sub of child.children; track sub) {
                            <a
                              [routerLink]="sub.link"
                              [queryParams]="sub.queryParams ?? {}"
                              class="leading-none text-md p-1 text-gray-500"
                            >
                              {{ sub.title }}
                            </a>
                          }
                        } @else {
                          <a [routerLink]="child.link" [queryParams]="child.queryParams ?? {}">
                            <div class="flex flex-col gap-1 text-sm">
                              @if (child.title) {
                                <div class="leading-none font-medium">{{ child.title }}</div>
                              }
                              @if (child.description) {
                                <div class="text-muted-foreground line-clamp-2">{{ child.description }}</div>
                              }
                            </div>
                          </a>
                        }
                      </li>
                    }
                  </ul>
                </hlm-navigation-menu-content>
              }
            }
          </li>
        }
      </ul>
    </nav>

    <div class="hidden max-md:flex">
      <ng-icon class="cursor-pointer text-lg" name="lucideMenu" (click)="onOpen()"></ng-icon>
    </div>
  </li>

  <li>
    <a href="#measurement" class="btn-primary btn-xs">Вызвать замерщика</a>
  </li>
</ol>

<tui-drawer *tuiPopup="open()" direction="left" class="drawer" [overlay]="true" (click.self)="onClose()">
  <header class="sticky top-0">
    <h2 tuiHeader class="flex items-center">
      <div tuiTitle class="font-medium text-sm uppercase">Меню</div>
      <div tuiAccessories>
        <ng-icon class="cursor-pointer text-lg" name="lucideX" (click)="onClose()"></ng-icon>
      </div>
    </h2>
  </header>

  <section class="flex flex-col gap-2">
    <nav>
      @for (value of navMenu(); track value) {
        <tui-tree [childrenHandler]="handler" [content]="menuItem" [tuiTreeController]="true" [value]="value" />
      }
    </nav>

    <ng-template #menuItem let-value let-node="node">
      <div class="wrapper py-1" [style.opacity]="1 / node.level">
        @if (value.link) {
          <a [routerLink]="value.link">
            @if (value.icon) {
              <tui-icon class="t-icon" [icon]="value.icon" />
            }
            {{ value.title }}
          </a>
        } @else {
          <span>
            @if (value.icon) {
              <tui-icon class="t-icon" [icon]="value.icon" />
            }
            {{ value.title }}
          </span>
        }
      </div>
    </ng-template>
  </section>
</tui-drawer>
