<section class="border-b-1 border-gray-200 py-2 max-lg:px-3">
  <ol class="lg:container mx-auto flex items-center">
    <li class="flex-1">
      <nav hlmNavigationMenu openOn="hover" class="flex max-md:hidden">
        <ul hlmNavigationMenuList class="flex-wrap gap-5">
          @for (item of navMenu(); track item; let index = $index) {
            <li hlmNavigationMenuItem class="hidden md:flex">
              @if (item.link) {
                <a hlmNavigationMenuLink routerLinkActive="font-semibold" [routerLink]="item.link">{{ item.title }}</a>
              } @else {
                <button hlmNavigationMenuTrigger class="px-0 flex justify-between">
                  {{ item.title }}

                  @if (item.children?.length) {
                    <ng-icon
                      name="lucideChevronDown"
                      class="relative top-px ml-1 size-3 transition duration-300 group-data-[state=open]:rotate-180"
                    />
                  }
                </button>

                @if (item.children?.length; as count) {
                  <hlm-navigation-menu-content *hlmNavigationMenuPortal class="shadow bg-white grid-cols-3">
                    <nav hlmNavigationMenu orientation="vertical">
                      <ul hlmNavigationMenuList class="flex-wrap">
                        @for (child of item.children; track $index) {
                          <li hlmNavigationMenuItem class="w-full">
                            @if (child.children?.length) {
                              <button hlmNavigationMenuTrigger class="w-full flex justify-between">
                                {{ child.title }}
                                <ng-icon
                                  name="lucideChevronDown"
                                  class="relative top-px ml-1 size-3 transition duration-300 group-data-[state=open]:rotate-180"
                                />
                              </button>

                              <hlm-navigation-menu-content *hlmNavigationMenuPortal>
                                <ul>
                                  @for (sub of child.children; track sub) {
                                    <li>
                                      <a
                                        hlmNavigationMenuLink
                                        routerLinkActive="font-semibold"
                                        [routerLink]="sub.link"
                                        [queryParams]="sub.queryParams ?? {}"
                                        class="leading-none p-2"
                                      >
                                        {{ sub.title }}
                                      </a>
                                    </li>
                                  }
                                </ul>
                              </hlm-navigation-menu-content>
                            } @else {
                              <a
                                hlmNavigationMenuLink
                                routerLinkActive="font-semibold"
                                [routerLink]="child.link"
                                [queryParams]="child.queryParams ?? {}"
                                class="leading-none p-2"
                              >
                                <div class="flex flex-col gap-1">
                                  @if (child.title) {
                                    <div class="leading-none">{{ child.title }}</div>
                                  }
                                  @if (child.description) {
                                    <div class="text-muted-foreground line-clamp-2">{{ child.description }}</div>
                                  }
                                </div>
                              </a>
                            }
                          </li>
                        }
                      </ul>
                      <!-- @if (index === 0) {
                        <a hlmNavigationMenuLink routerLinkActive="font-medium" [routerLink]="['/', 'catalog']" class="flex items-center mt-2">
                          Весь каталог
                          <ng-icon strokewidth="1px" name="lucideChevronRight" class="text-gray-500" />
                        </a>
                      } -->
                    </nav>
                  </hlm-navigation-menu-content>
                }
              }
            </li>
          }
        </ul>
      </nav>

      <div class="hidden max-md:flex">
        <ng-icon class="cursor-pointer text-lg" name="lucideMenu" (click)="onOpen()"></ng-icon>
      </div>
    </li>

    <li>
      <a consultationModalClick class="btn-primary btn-xs">Заказать консультацию</a>
    </li>
  </ol>
</section>

<tui-drawer *tuiPopup="open()" direction="start" class="drawer" [overlay]="true" (click.self)="onClose()">
  <header class="sticky top-0">
    <h2 tuiHeader class="flex items-center">
      <div tuiTitle class="font-normal text-sm">
        <span class="text-md font-normal">Меню</span>
      </div>
      <div tuiAccessories>
        <ng-icon class="cursor-pointer text-lg" name="lucideX" (click)="onClose()"></ng-icon>
      </div>
    </h2>
  </header>

  <section class="flex flex-col gap-2">
    <nav>
      @for (value of navMenu(); track value; let index = $index) {
        <tui-tree [childrenHandler]="handler" [content]="menuItem" [tuiTreeController]="true" [value]="value" />
      }
    </nav>

    <ng-template #menuItem let-value let-node="node">
      @if (value.link) {
        <a
          routerLinkActive="font-semibold"
          class="py-1 block"
          [routerLink]="value.link"
          [queryParams]="value.queryParams ?? {}"
          (click)="onClose()"
        >
          @if (value.icon) {
            <tui-icon class="t-icon" [icon]="value.icon" />
          }
          {{ value.title }}
        </a>
      } @else {
        <span class="py-1 block">
          @if (value.icon) {
            <tui-icon class="t-icon" [icon]="value.icon" />
          }
          {{ value.title }}
        </span>
      }
    </ng-template>
  </section>
</tui-drawer>

<!-- <section class="flex justify-start mt-4">
    <a routerLinkActive="font-semibold" [routerLink]="['/', 'catalog']" class="flex items-center" (click)="onClose()"> Весь каталог </a>
</section> -->
