<div class="container mx-auto flex flex-col gap-5 my-8">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-2xl">Как сделать заказ?</h2>
  </header>

  <section class="flex gap-6">
    <div class="flex-1">
      <img src="/images/image-10.jpg" />
    </div>

    <div class="flex-1">
      <ul class="flex flex-col gap-4">
        <li class="flex items-center gap-4">
          <div>
            <div
              class="rounded-full p-3 leading-4 text-white text-3xl inline-block"
              style="background: #9b865d; font-family: 'PF Regal Text Pro'"
            >
              1
            </div>
          </div>

          <div class="flex flex-col gap-0">
            <h3 class="font-medium text-2xl">Заявка</h3>

            <p>
              Оставьте заявку на сайте или позвоните нам по телефону, напишите в мессенджер - как вам удобно. Мы ответим
              на все ваши вопросы и назначим удобную для вас дату встречи с нашем дизайнером
            </p>
          </div>
        </li>

        <li class="flex items-center gap-4">
          <div>
            <div
              class="rounded-full p-3 leading-4 text-white text-3xl inline-block"
              style="background: #9b865d; font-family: 'PF Regal Text Pro'"
            >
              2
            </div>
          </div>

          <div class="flex flex-col gap-0">
            <h3 class="font-medium text-2xl">Встреча</h3>

            <p>
              Встреча. Выезд дизайнера бесплатный. Наш сотрудник полностью проконсультирует вас на месте -
              продемонстрирует образцы и каталоги тканей, сделает необходимые технические замеры, подготовит
              первоначальный эскиз и просчет.
            </p>
          </div>
        </li>

        <li class="flex items-center gap-4">
          <div>
            <div
              class="rounded-full p-3 leading-4 text-white text-3xl inline-block"
              style="background: #9b865d; font-family: 'PF Regal Text Pro'"
            >
              3
            </div>
          </div>

          <div class="flex flex-col gap-0">
            <h3 class="font-medium text-2xl">Пошив</h3>

            <p>
              Пошив штор в собственном швейном цеху под надзором технолога. Проверка готовых изделий на брак. В отличие
              от многих, мы даём гарантию 2 года на все виды работ и материалы.
            </p>
          </div>
        </li>

        <li class="flex items-center gap-4">
          <div>
            <div
              class="rounded-full p-3 leading-4 text-white text-3xl inline-block"
              style="background: #9b865d; font-family: 'PF Regal Text Pro'"
            >
              4
            </div>
          </div>

          <div class="flex flex-col gap-0">
            <h3 class="font-medium text-2xl">Монтаж</h3>

            <p>
              Монтаж штор на окна. Осуществим доставку, установку карнизов и навеску штор, отпарив их. Все под ключ.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
