<div class="container mx-auto flex flex-col gap-4 my-8">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-2xl">Как сделать заказ?</h2>
  </header>

  <section class="flex">
    <div class="flex-1">
      <h3 class="font-medium text-xl">Заявка</h3>

      <p>
        Оставьте заявку на сайте или позвоните нам по телефону, напишите в мессенджер - как вам удобно. Мы ответим на
        все ваши вопросы и назначим удобную для вас дату встречи с нашем дизайнером
      </p>
    </div>

    <div class="flex-1">
      <h3 class="font-medium text-xl">Встреча</h3>

      <p>
        Встреча. Выезд дизайнера бесплатный. Наш сотрудник полностью проконсультирует вас на месте - продемонстрирует
        образцы и каталоги тканей, сделает необходимые технические замеры, подготовит первоначальный эскиз и просчет.
      </p>
    </div>

    <div class="flex-1">
      <h3 class="font-medium text-xl">Пошив</h3>

      <p>
        Пошив штор в собственном швейном цеху под надзором технолога. Проверка готовых изделий на брак. В отличие от
        многих, мы даём гарантию 2 года на все виды работ и материалы.
      </p>
    </div>

    <div class="flex-1">
      <h3 class="font-medium text-xl">Монтаж</h3>

      <p>Монтаж штор на окна. Осуществим доставку, установку карнизов и навеску штор, отпарив их. Все под ключ.</p>
    </div>
  </section>
</div>
