<div class="container mx-auto flex flex-col gap-5 max-sm:px-5 md:my-8 my-6">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-2xl">Материалы полотна для натяжных потолков</h2>

    <div class="md:w-175 mx-auto text-gray-500">
      Предоставляем для заказчиков только проверенных производителей, которые зарекомендовали себя на рынке
    </div>
  </header>

  <section class="flex flex-col gap-5">
    <app-price-list-route-filter [groups]="groups()"></app-price-list-route-filter>

    <div class="mx-auto">
      <tui-segmented>
        @for (item of countryList(); track $index) {
          <a
            [routerLink]="[]"
            routerLinkActive
            [routerLinkActiveOptions]="{exact: true}"
            [queryParams]="{country: item.query}"
            queryParamsHandling="merge"
          >
            {{ item.title }}
          </a>
        }
      </tui-segmented>
    </div>

    <ol class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-3">
      @for (item of filtered(); track $index) {
        <li class="flex flex-col rounded-sm bg-gray-light overflow-hidden">
          <div class="flex flex-col gap-3 p-3">
            <header class="flex justify-between items-center">
              <span class="text-xl font-bold">{{ item.title }}</span>
              <picture class="block relative p-6 border border-gray-300 rounded-full bg-white">
                <img
                  class="block w-11 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                  [attr.alt]="item.title"
                  [attr.src]="item.image"
                />
              </picture>
            </header>

            <ol class="flex flex-col gap-3 max-lg:text-sm">
              <li class="flex items-center gap-2 bg-gray-100">
                <!-- <ng-icon class="text-5xl" strokeWidth="1" name="lucideCircleStar" style="color: #cf0953" /> -->
                <picture class="p-5 block relative border border-gray-200 rounded-full bg-white">
                  <ng-icon
                    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-3xl"
                    strokeWidth="1"
                    name="lucideStar"
                    style="color: #cf0953"
                  />
                </picture>

                <span class="text-base">{{ item.description ?? 'Экологично' }}</span>
              </li>

              <li class="flex justify-between">
                <span class="text-gray-400">Материал:</span> {{ item.type | productTagName }}
              </li>

              <li class="flex justify-between">
                <span class="text-gray-400">Цена:</span>
                <span class="font-semibold" style="color: #cf0953">{{ item.price | priceFormat }}/м²</span>
              </li>

              <li class="flex justify-between"><span class="text-gray-400">Производитель:</span> {{ item.country }}</li>

              <li class="flex justify-between">
                <span class="text-gray-400">Толщина:</span> {{ item.thickness | thicknessFormat: true }}
              </li>

              <li class="flex justify-between">
                <span class="text-gray-400">Ширина без шва:</span> до {{ item.width }} м
              </li>

              <li class="flex justify-between"><span class="text-gray-400">Гарантия:</span>{{ item.warranty }} лет</li>
            </ol>
          </div>

          <footer class="mt-auto">
            <button leaveRequestModalClick class="btn-primary btn-sm w-full rounded-none">Заказать</button>
          </footer>
        </li>
      }
    </ol>
  </section>
</div>
