.btn-primary {
  --btn-padding-inline: 4rem;
  --btn-font-size: 1.5rem;
  --btn-line-height: 4rem;
  --btn-push-size: 4px;
  --btn-border-radius: 4px;
  --btn-push-size: 4px;

  text-align: center;
  vertical-align: middle;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  display: inline-block;
  font-family: 'RotondaC-Bold';
  font-family: Manrope;
  position: relative;
  top: calc(var(--btn-push-size) * -1);
  padding-inline: var(--btn-padding-inline);
  letter-spacing: 4%;
  font-weight: 600;

  &,
  &:hover,
  &:active,
  &:visited {
    background: #f9a81b;
    color: #ffffff;
    box-shadow: 0px var(--btn-push-size) 0px #d08d18;
    border: 0;
    outline: none;
    text-decoration: none;
    font-size: var(--btn-font-size);
    line-height: var(--btn-line-height);
  }

  &:hover {
    background: #f2a317;
    box-shadow: 0px calc(var(--btn-push-size) - calc(var(--btn-push-size) / 4)) 0px #d08d18;
    margin-top: calc(var(--btn-push-size) / 4 + calc(var(--btn-push-size) / 4));
    margin-bottom: calc(var(--btn-push-size) / 4 * -1 - calc(var(--btn-push-size) / 4));
  }

  &:active {
    background: #f2a317;
    box-shadow: 0px 0px 0px #d08d18;
    margin-top: var(--btn-push-size);
    margin-bottom: calc(var(--btn-push-size) * -1);
  }

  &.btn-xs {
    --btn-padding-inline: 1rem;
    --btn-font-size: 0.75rem;
    --btn-border-radius: 3px;
    --btn-push-size: 1px;
    --btn-line-height: 2rem;
    text-transform: uppercase;
  }

  &.btn-sm {
    --btn-padding-inline: 2rem;
    --btn-font-size: 1rem;
    --btn-border-radius: 2px;
    --btn-push-size: 1.5px;
    --btn-line-height: 3rem;
  }
}

.btn-primary-small {
  text-align: center;
  border-radius: var(--btn-push-size);
  cursor: pointer;
  display: inline-block;
  font-family: 'RotondaC-Bold';
  font-family: Manrope;
  vertical-align: middle;
  padding-inline: 2rem;
  position: relative;
  top: calc(var(--btn-push-size) * -1);

  &,
  &:active,
  &:visited,
  &:hover {
    font-family: 'RotondaC-Bold';
    font-family: Manrope;
    color: white;
    line-height: 2rem;
    text-decoration: none;
    background: #f9a81b;
  }

  &:hover {
    background: #f9a81b;
  }

  &:active {
    background: #f9a81b;
  }
}
