@media (width >= 48rem) {
  @media (width >= 48rem) {
    .md\:container {
      max-width: 48rem;
    }
  }
}

@media (width >= 65rem) {
  .lg\:container {
    width: 100%;
    max-width: 65rem;
  }
  .min-lg\:container {
    width: 100%;
    max-width: 65rem;
  }
}
