<div class="container mx-auto flex flex-col gap-5 max-sm:px-5 md:my-8 my-6">
  <header class="text-center flex flex-col gap-3">
    <h2 class="md:text-4xl text-2xl">{{ title() }}</h2>

    <div class="md:w-175 mx-auto text-gray-500">
      От классики до сложных дизайнерских решений. Гарантируем быстрое производство,
       профессиональный монтаж, бесплатный замер.
    </div>
  </header>

  <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4 mx-auto">
    @for (item of items(); track item) {
      <article class="flex flex-col bg-gray-light max-md:max-w-100">
        <figure class="w-full bg-image aspect-1.5/1" [style.background-image]="'url(' + item.src + ')'">
          <img class="hidden" [attr.src]="item.src" [attr.alt]="item.title" />
        </figure>

        <footer class="p-3 flex flex-col gap-2">
          <h4 class="uppercase font-medium">{{ item.title }}</h4>

          <p class="text-sm">{{ item.text }}</p>
        </footer>
      </article>
    }
  </div>
</div>
