<div class="container mx-auto flex flex-col gap-6 max-sm:px-5 md:my-8 my-6">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-3xl">Натяжные потолки акции</h2>

    <div class="md:w-175 mx-auto text-gray-500">
      Мы предлагаем нашим клиентам выгодные условия при заказе натяжных потолков.
    </div>
  </header>

  <section class="flex flex-col gap-4">
    <p>
      Мы постоянно проводим акции на различные виды потолков, такие как глянцевые, матовые, сатиновые и другие. Кроме
      того, мы предлагаем скидки на большие заказы и при заказе комплексного ремонта. Наша цель — сделать ваш выбор
      легче и более доступным.
    </p>

    <p>
      Но наши скидки и акции — это не единственная причина, по которой стоит обратиться к нам. Мы гарантируем высокое
      качество нашей продукции и услуг, используя только проверенные материалы. Наши профессиональные мастера
      обеспечивают быструю и качественную установку потолков, а также предоставляют гарантию на все наши работы.
    </p>

    <p>
      Кроме того, мы всегда готовы помочь вам с выбором потолка и ответить на все ваши вопросы. Мы знаем, что каждый
      клиент уникален, поэтому мы предлагаем индивидуальный подход к каждому заказчику.
    </p>

    <!-- <p>
      Не упустите возможность получить выгодную скидку или участвовать в акции! Следите за нашими новостями на сайте и в
      социальных сетях, чтобы быть в курсе всех наших предложений.
    </p> -->

    <p>
      Закажите натяжной потолок у нас и получите не только качественный продукт, но и выгодную цену, а также
      профессиональный подход и быструю установку. Мы готовы сделать ваш выбор легче и более доступным!
    </p>
  </section>

  <section class="grid grid-cols-1 -md:grid-cols-2 gap-6">
    @for (item of events(); track item) {
      <article class="flex max-lg:flex-col bg-gray-100 max-lg:mx-auto">
        <div class="flex-1">
          <img [attr.src]="item.image" class="w-full" />
        </div>

        <div class="flex-1 flex flex-col gap-4 p-4">
          <div>
            <span class="max-md:text-sm badge">Скидка</span>
          </div>

          <div class="text-2xl md:text-4xl font-semibold">{{ item.title }}</div>

          <div class="max-md:text-sm text-gray-600">{{ item.description }}</div>

          <a leaveRequestModalClick class="btn-primary btn-sm mt-auto">Получить предложение</a>
        </div>
      </article>
    }
  </section>
</div>
