<div hlmSidebarWrapper>
  <hlm-sidebar class="bg-sidebar">
    <section hlmSidebarHeader>
      <!--<ul hlmSidebarMenu>
        <li hlmSidebarMenuItem>
          <button hlmSidebarMenuButton [hlmDropdownMenuTrigger]="menuSchema">
            Schema
            <ng-icon hlm name="lucideChevronDown" class="ml-auto" />
          </button>
          <ng-template #menuSchema>
            <hlm-dropdown-menu class="w-60">
              <button hlmDropdownMenuItem>Public</button>
              <button hlmDropdownMenuItem>Delete Project</button>
            </hlm-dropdown-menu>
          </ng-template>
        </li>
      </ul>-->

      <brn-select
        class="inline-block"
        placeholder="Select schema"
        [formControl]="schemaControl"
      >
        <hlm-select-trigger class="w-56">
          <div class="flex gap-2">
            <span class="text-gray-500">Schema:</span>
            <hlm-select-value />
          </div>
        </hlm-select-trigger>

        <hlm-select-content []="true">
          @for (item of schemaOptions(); track item) {
            <hlm-option [value]="item.value">{{ item.title }}</hlm-option>
          }
        </hlm-select-content>
      </brn-select>
    </section>

    <section hlmSidebarContent>
      <!-- group -->
      <div hlmSidebarGroup>
        <div hlmSidebarGroupLabel class="flex gap-1">
          <ng-icon hlm name="lucideTable2" />
          Studio
        </div>

        <div hlmSidebarGroupContent>
          <ul hlmSidebarMenu>
            @for (item of menuItems; track item) {
              <li hlmSidebarMenuItem>
                <a hlmSidebarMenuButton>
                  <ng-icon hlm [name]="item.icon" />
                  <span>{{ item.title }}</span>
                </a>
              </li>
            }
          </ul>
        </div>
      </div>

      <!-- tables -->
      <div hlmSidebarGroup>
        <div hlmSidebarGroupLabel class="flex gap-1">
          <ng-icon hlm name="lucideTable2" />
          Tables
        </div>

        <div hlmSidebarGroupContent>
          <ul hlmSidebarMenu>
            @for (item of schemaTables; track item) {
              <li hlmSidebarMenuItem>
                <a hlmSidebarMenuButton>
                  <ng-icon hlm [name]="item.icon" />
                  <span>{{ item.title }}</span>
                </a>
              </li>
            }
          </ul>
        </div>
      </div>

      <!-- group menu -->
      <!-- <div hlmSidebarGroup>
      <div hlmSidebarGroupLabel>Projects</div>

      <div hlmSidebarGroupContent>
        <ul hlmSidebarMenu>
          @for (project of projects; track project) {
            <li hlmSidebarMenuItem>
              <a hlmSidebarMenuButton [href]="project.link">
                <ng-icon hlm [name]="project.icon" />
                <span>{{ project.name }}</span>
              </a>

              <button hlmSidebarMenuAction [hlmDropdownMenuTrigger]="menu">
                <ng-icon hlm name="lucideEllipsis" />
                <span class="sr-only">More</span>
              </button>

              <ng-template #menu>
                <hlm-dropdown-menu>
                  <button hlmDropdownMenuItem>Edit Project</button>
                  <button hlmDropdownMenuItem>Delete Project</button>
                </hlm-dropdown-menu>
              </ng-template>
            </li>
          }
        </ul>
      </div>
    </div> -->
    </section>
  </hlm-sidebar>

  <ng-content />
</div>
