<app-sidebar-header-sticky>
  <app-site-header-sticky header />

  <main hlmSidebarInset>
    <!-- content -->
    <div class="flex flex-1 flex-col gap-4 p-4">
      <div class="grid auto-rows-min gap-4 md:grid-cols-3">
        <div class="bg-muted/50 aspect-video rounded-xl"></div>
        <div class="bg-muted/50 aspect-video rounded-xl"></div>
        <div class="bg-muted/50 aspect-video rounded-xl"></div>
      </div>

      <div
        class="bg-muted/50 min-h-[100vh] flex-1 rounded-xl md:min-h-min"
      ></div>
    </div>
  </main>
</app-sidebar-header-sticky>

<!-- <app-sidebar-with-navigation>
  <main hlmSidebarInset>
    <header class="flex items-center justify-between px-4 h-12">
      <button hlmSidebarTrigger><span class="sr-only"></span></button>

      <div class="flex gap-2">
        <button hlmBtn size="icon" variant="outline" class="size-7">
          <ng-icon hlm size="sm" name="lucideRefreshCcw"></ng-icon>
        </button>

        <button hlmBtn size="icon" variant="outline" class="size-7">
          <ng-icon hlm size="sm" name="lucideMaximize"></ng-icon>
        </button>

        <button hlmBtn size="icon" variant="outline" class="size-7">
          <ng-icon hlm size="sm" name="lucideMinimize"></ng-icon>
        </button>
      </div>
    </header>

    <div>
      <router-outlet />
    </div>
  </main>
</app-sidebar-with-navigation> -->
