<div class="container mx-auto flex flex-col gap-5 max-sm:px-5 md:my-8 my-6">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-3xl">{{ title() }}</h2>

    <div class="md:w-175 mx-auto text-gray-500">
      От классики до сложных дизайнерских решений. Гарантируем быстрое производство, профессиональный монтаж, бесплатный
      замер.
    </div>
  </header>

  <section class="flex flex-col gap-5">
    <app-sc-catalog-route-filter [groups]="groups()"></app-sc-catalog-route-filter>

    <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4 mx-auto">
      @for (item of filtered(); track item) {
        <a scrollLink [routerLink]="['/', routePath.catalog.root, item.key]" fragment="stretch-ceilings-catalog-detail">
          <app-stretch-ceilings-catalog-card [item]="item" [link]="true" />
        </a>
      }
    </div>
  </section>
</div>

<!-- <section class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4 mx-auto">
    @for (item of items().slice(0, 4); track item) {
      <a scrollLink [routerLink]="['/', routePath.catalog.root, item.key]" fragment="stretch-ceilings-catalog-detail">
        <app-stretch-ceilings-catalog-card [item]="item" [link]="true" />
      </a>
    }
  </section> -->

<!-- <footer class="flex justify-end">
    <a scrollLink [routerLink]="['/', 'catalog']" class="text-lg flex items-center gap-1 font-medium">
      Весь каталог
      <ng-icon name="lucideChevronRight" />
    </a>
  </footer> -->
