figure {
  display: inline-block;
  background-image: url(/img/application-measurement-master.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1/1;
}

.bg-gray{
  background-color: #E5EAF3;
}