<div class="container mx-auto">
  <div class="flex">
    <section class="flex-1 flex items-bottom justify-center bg-gray2">
      <figure class="w-1/2"></figure>
    </section>

    <section class="flex-1 bg-gray text-white">
      <div class="p-6 flex flex-col gap-5">
        <h3 class="text-4xl w-100">{{ title() }}</h3>

        <form class="flex flex flex-col gap-3 textfield-no-border" [formGroup]="form">
          <tui-textfield [tuiTextfieldCleaner]="false">
            <label tuiLabel>Укажите телефон</label>
            <input tuiInputPhone formControlName="phone" mask="+7 ### ###-##-##" />
          </tui-textfield>

          <div>
            <button class="btn-primary btn-sm">Оставить заявку</button>
          </div>
        </form>

        <div class="flex flex-col gap-3">
          <h3 class="uppercase text-2xl">Выгода бесплатного замера</h3>

          <ol>
            <li>Точность замера помещения</li>
            <li>Гарантия верной цены, с применением скидок</li>
            <li>Помощь в выборе материалов и дизайна</li>
            <li>Техническая консультация специалиста</li>
            <li>В дальнейшем - безупречный монтаж</li>
          </ol>
        </div>
      </div>
    </section>
  </div>
</div>
