<div class="container mx-auto my-8 flex flex-col gap-8">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-2xl">Вопросы-ответы</h2>
  </header>

  <section>
    <tui-accordion *isPlatformBrowser class="block accordion" [closeOthers]="false">
      <button tuiAccordion tuiCell style="width: 100%">
        <div class="text-sm sm:text-lg font-semibold">Сколько стоит пошив штор на заказ?</div>
      </button>

      <tui-expand>
        <p class="sm:text-lg leading-7 py-2">
          Редко какая студия, специализирующаяся на изготовлении штор по меркам клиента, сможет дать точный ответ на
          этот вопрос, не располагая деталями: конкретными габаритами будущих изделий, выбором материалов и декором.
          Цена любых индивидуальных заказов напрямую зависит от уникальных характеристик проекта. Тем не менее, мы
          готовы предоставить вам примерный расчет, чтобы вы могли получить общее представление о порядке цен и
          ориентироваться на рынке. Для этого достаточно отправить нам приблизительные размеры вашего окна, проект или
          ваши пожелания. Дизайнеры Belladone подготовят предварительный расчет, включающий стоимость базовых материалов
          и пошива штор, а также дополнительных услуг (установка карнизов и монтаж штор). Если озвученная
          предварительная сумма вас устроит, то после личной встречи с нашим дизайнером вы получите детальную смету,
          учитывающую выбранные модели, ткани и точные размеры. Выбрать шторы на заказ в Москве и МО от салона Belladone
          - это правильное решение. Мы предлагаем индивидуальное изготовление штор по доступным ценам от 3-х дней.
        </p>
      </tui-expand>

      <button tuiAccordion tuiCell style="width: 100%">
        <div class="text-sm sm:text-lg font-semibold">Где можно посмотреть Ваши работы?</div>
      </button>

      <tui-expand>
        <p class="sm:text-lg leading-7 py-2">
          На нашем сайте есть большое портфолио выполненных работ. В нем, Вы можете ознакомится с разными вариантами
          исполнения штор на заказ, которые изготовлены нашей Компанией. Работ так много, что Вы несомненно найдете в
          них вдохновение для своего проекта. Также Вы можете познакомится с нами, в разных социальных сетях.
        </p>
      </tui-expand>

      <button tuiAccordion tuiCell style="width: 100%">
        <div class="text-sm sm:text-lg font-semibold">Есть ли гарантия на изделия?</div>
      </button>

      <tui-expand>
        <p class="sm:text-lg leading-7 py-2">
          Мы даем 2 года гарантии на изделия и на все работы проводимые нами по договору.
        </p>
      </tui-expand>

      <button tuiAccordion tuiCell style="width: 100%">
        <div class="text-sm sm:text-lg font-semibold">Какие сроки по пошиву?</div>
      </button>

      <tui-expand>
        <p class="sm:text-lg leading-7 py-2">
          По договору 10-14 дней, в зависимости от объема можем сделать и раньше. Так же отшиваем от 1-го дня шторы из
          складской программы.
        </p>
      </tui-expand>

      <button tuiAccordion tuiCell style="width: 100%">
        <div class="text-sm sm:text-lg font-semibold">Сколько стоит выезд дизайнера?</div>
      </button>

      <tui-expand>
        <p class="sm:text-lg leading-7 py-2">
          Выезд дизайнера - бесплатный! Дизайнер приезжает с образцами и каталогами тканей, делает замер и просчет на
          месте. Даже если потребуется повторный выезд.
        </p>
      </tui-expand>
    </tui-accordion>
  </section>
</div>
