<div class="container mx-auto my-8 flex flex-col gap-4">
  <header class="text-center flex flex-col gap-2 sm:gap-3">
    <h2 class="md:text-4xl text-2xl">Каталог карнизов и аксессуаров</h2>
  </header>

  <section class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4 mx-auto">
    <article class="flex flex-col gap-3">
      <picture>
        <img src="/catalog/image-1.jpg" />
      </picture>

      <h3 class="text-xl font-medium">Жалюзи</h3>
    </article>

    <article class="flex flex-col gap-3">
      <picture>
        <img src="/catalog/image-1.jpg" />
      </picture>

      <h3 class="text-xl font-medium">Ручные карнизы</h3>
    </article>

    <article class="flex flex-col gap-3">
      <picture>
        <img src="/catalog/image-1.jpg" />
      </picture>

      <h3 class="text-xl font-medium">Плисе шторы</h3>
    </article>

    <article class="flex flex-col gap-3">
      <picture>
        <img src="/catalog/image-1.jpg" />
      </picture>

      <h3 class="text-xl font-medium">Химчистка штор</h3>
    </article>
  </section>
</div>
