<div class="container mx-auto my-8 flex flex-col gap-4">
  <section class="flex flex-col gap-4">
    <header class="text-center flex flex-col gap-2 sm:gap-3">
      <h2 class="md:text-4xl text-2xl">О нас</h2>
    </header>

    <section class="flex gap-10">
      <div class="w-1/3">
        <picture>
          <img src="/images/image-2.jpg" />
        </picture>
      </div>

      <div class="flex-1 text-base flex flex-col gap-3">
        <p>
          Компания успешно работает на рынке в течение 17 лет. За это время мы изготовили более 100 000 изделий. Наличие
          собственного производства и прямые поставки материалов позволяют гарантировать высокое качество, выгодные цены
          и точные сроки изготовления заказов.
        </p>

        <p>
          Мы – это профессиональное ателье по пошиву штор в Москве. Мы создаем стильные индивидуальные решения для
          любого интерьера: изготавливаем все виды штор, карнизы, жалюзи и другие изделия для оформления всех видов
          окон. В каталоге представлены как классические, так и ультрасовременные варианты для интеграции в систему
          умного дома.
        </p>

        <p>
          Обращаясь в салон штор на заказ Benone, вы получаете персональный подход, профессиональное сопровождение и
          изделия, которые дарят дому уют и гармонию.
        </p>

        <p>
          Наши опытные дизайнеры разрабатывают проекты с учетом пожеланий клиента, а мастера обеспечивают безупречное
          качество исполнения, доставку и установку штор в Москве и МО. Действуют акции, скидки, гарантия и
          постгарантийное обслуживание. Запишитесь на бесплатный замер по телефону или онлайн.
        </p>
      </div>
    </section>
  </section>
</div>
