<div class="container mx-auto my-10 flex flex-col gap-4">
  <section class="flex flex-col gap-4">
    <header class="text-center flex flex-col gap-2 sm:gap-3">
      <h2 class="md:text-4xl text-2xl">О нас</h2>
    </header>

    <section class="flex gap-6">
      <div class="flex-1 flex justify-end">
        <img src="/images/image-13.jpg" class="w-150 rounded-xl" />
      </div>

      <div class="flex-1 flex flex-col gap-6">
        <!-- <h2 class="font-medium text-3xl">
          Наш салон штор выполняет «под ключ» все работы, связанные с декором и оформлением окон
        </h2>

        <ul class="list-disc ms-5 flex flex-col gap-3">
          <li>Дизайнер выезжает к Вам на объект с образцами</li>
          <li>Мы создаём фото визуализацию Вашего объекта</li>
          <li>Согласовываем проект и подписываем договор</li>
          <li>Производим шторы, покрывала и подушки</li>
          <li>Осуществляем монтаж карнизов и навеска штор</li>
          <li>Оказываем химчистку и ремонт изделий пожизненно</li>
        </ul> -->

        <p>
          Компания успешно работает на рынке в течение 17 лет. За это время мы изготовили более 100 000 изделий. Наличие
          собственного производства и прямые поставки материалов позволяют гарантировать высокое качество, выгодные цены
          и точные сроки изготовления заказов.
        </p>

        <p>
          Мы – это профессиональное ателье по пошиву штор в Москве. Мы создаем стильные индивидуальные решения для
          любого интерьера: изготавливаем все виды штор, карнизы, жалюзи и другие изделия для оформления всех видов
          окон. В каталоге представлены как классические, так и ультрасовременные варианты для интеграции в систему
          умного дома.
        </p>

        <p>
          Обращаясь в салон штор на заказ, вы получаете персональный подход, профессиональное сопровождение и изделия,
          которые дарят дому уют и гармонию.
        </p>

        <p>
          Наши опытные дизайнеры разрабатывают проекты с учетом пожеланий клиента, а мастера обеспечивают безупречное
          качество исполнения, доставку и установку штор в Москве и МО. Действуют акции, скидки, гарантия и
          постгарантийное обслуживание. Запишитесь на бесплатный замер по телефону или онлайн.
        </p>

        <section class="mt-auto flex gap-4 items-center rounded-xl bg-you-love p-5">
          <div class="flex-1">
            Закажите выезд дизайнера, и он поможет вам определиться в этом прекрасном многообразии.
          </div>

          <button inviteModalClick class="btn btn-primary">Пригласить дизайнера</button>
        </section>
      </div>
    </section>

    <!-- <section class="flex gap-6">
      <div class="w-1/3">
        <picture>
          <img src="/images/image-2.jpg" />
        </picture>
      </div>

      <div class="flex-1 text-base flex flex-col gap-3">
        <p>
          Компания успешно работает на рынке в течение 17 лет. За это время мы изготовили более 100 000 изделий. Наличие
          собственного производства и прямые поставки материалов позволяют гарантировать высокое качество, выгодные цены
          и точные сроки изготовления заказов.
        </p>

        <p>
          Мы – это профессиональное ателье по пошиву штор в Москве. Мы создаем стильные индивидуальные решения для
          любого интерьера: изготавливаем все виды штор, карнизы, жалюзи и другие изделия для оформления всех видов
          окон. В каталоге представлены как классические, так и ультрасовременные варианты для интеграции в систему
          умного дома.
        </p>

        <p>
          Обращаясь в салон штор на заказ, вы получаете персональный подход, профессиональное сопровождение и изделия,
          которые дарят дому уют и гармонию.
        </p>

        <p>
          Наши опытные дизайнеры разрабатывают проекты с учетом пожеланий клиента, а мастера обеспечивают безупречное
          качество исполнения, доставку и установку штор в Москве и МО. Действуют акции, скидки, гарантия и
          постгарантийное обслуживание. Запишитесь на бесплатный замер по телефону или онлайн.
        </p>
      </div>
    </section> -->
  </section>
</div>
