<div class="-bg-gray-light py-5 --md:my-8 --my-6">
  <div class="mx-auto flex justify-center gap-5">
    <a class="btn-primary btn-sm" href="https://t.me/{{ telegramContact }}" target="_blank">
      <span class="flex gap-2">
        <img class="w-6 max-sm:w-5 max-sm:w-5 block text-white" src="/icons/telegram-light.svg" alt="Telegram" />
        Написать в Телеграм
      </span>
    </a>

    <a class="btn-primary btn-sm" [href]="maxContact" target="_blank">
      <span class="flex gap-2">
        <img class="w-6 max-sm:w-5 max-sm:w-5 block" title="Max" src="/icons/max-light.svg" alt="Max" />
        Написать в MAX
      </span>
    </a>
  </div>
</div>
