 
 
<section class="p-5">
  <header
    class="flex flex-col justify-between gap-4 py-4 sm:flex-row sm:items-center"
  >
    <input
      hlmInput
      class="w-full md:w-80"
      placeholder="Filter emails..."
      (input)="filterChanged($event)"
    />

    <brn-select
      class="inline-block"
      placeholder="Columns"
      [multiple]="true"
      [formControl]="selectedColumn"
    >
      <hlm-select-trigger class="w-56">
        <hlm-select-value />
      </hlm-select-trigger>

      <hlm-select-content>
        @for (column of hidableColumns; track column.id) {
        <hlm-option [value]="column.columnDef.id">
          {{ column.columnDef.id }}
        </hlm-option>
        }
      </hlm-select-content>
    </brn-select>
  </header>

  <!-- Table -->
  <div class="overflow-hidden rounded-md border">
    <!-- we defer the loading of the table, because tanstack manipulates the DOM with flexRender which can cause errors during SSR -->
    <div hlmTableContainer>
      <table hlmTable>
        <thead hlmTHead>
          @for ( headerGroup of table().getHeaderGroups(); track headerGroup.id
          ) {
          <tr hlmTr>
            @for (header of headerGroup.headers; track header.id) {
            <th hlmTh [attr.colSpan]="header.colSpan">
              @if (!header.isPlaceholder) {
              <ng-container
                *flexRender="
                          header.column.columnDef.header;
                          props: header.getContext();
                          let headerText
                        "
              >
                <div [innerHTML]="headerText"></div>
              </ng-container>
              }
            </th>
            }
          </tr>
          }
        </thead>
        <tbody hlmTBody>
          @for (row of table().getRowModel().rows; track row.id) {
          <tr
            hlmTr
            [attr.key]="row.id"
            [attr.data-state]="row.getIsSelected() && 'selected'"
          >
            @for (cell of row.getVisibleCells(); track $index) {
            <td hlmTd>
              <ng-container
                *flexRender="
                        cell.column.columnDef.cell;
                        props: cell.getContext();
                        let cell
                      "
              >
                <div [innerHTML]="cell"></div>
              </ng-container>
            </td>
            }
          </tr>
          } @empty {
          <tr hlmTr>
            <td hlmTd class="h-24 text-center" [attr.colspan]="_columns.length">
              No results.
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  <footer
    class="flex flex-col justify-between py-4 sm:flex-row sm:items-center"
  >
    @if (table().getRowCount() > 0) {
    <div class="${hlmMuted}">
      {{ table().getSelectedRowModel().rows.length }} of {{
      table().getRowCount() }} row(s) selected
    </div>

    <div class="mt-2 flex space-x-2 sm:mt-0">
      <!-- <hlm-numbered-pagination
        [currentPage]="1"
        [itemsPerPage]="4"
        [totalItems]="10"
      ></hlm-numbered-pagination> -->

      <section class="flex">
        <!-- <span class="flex items-center gap-1">
          Go to page:
          <input
            type="number"
            [value]="table().getState().pagination.pageIndex + 1"
            (input)="onPageInputChange($event)"
            class="border p-1 rounded w-16"
          />
        </span> -->

        <nav class="flex gap-2">
          <button size="sm" variant="outline" hlmBtn (click)="refreshData()">
            Refresh Data
          </button>

          <button
            size="sm"
            variant="outline"
            hlmBtn
            [disabled]="!table().getCanPreviousPage()"
            (click)="table().previousPage()"
          >
            Previous
          </button>

          <button
            size="sm"
            variant="outline"
            hlmBtn
            [disabled]="!table.getCanNextPage()"
            (click)="table.nextPage()"
          >
            Next
          </button>
        </nav>
      </section>
    </div>
    } @else {
    <div class="flex h-full w-full items-center justify-center">
      <div class="text-muted-foreground text-sm">No Data</div>
    </div>
    }
  </footer>
</section>

<ng-template #ageHeaderCell let-context>
  <span>Age 🥳</span>
</ng-template>
