.sb-show-main.sb-main-padded {
  padding: 0;
}

:root {
  color-scheme: light;
  --font-sans: 'Geist', sans-serif;
  --radius: 0.625rem;
  --background: oklch(100% 0 0);
  --foreground: oklch(14.5% 0 0);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(14.5% 0 0);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(14.5% 0 0);
  --primary: oklch(20.5% 0 0);
  --primary-foreground: oklch(98.5% 0 0);
  --secondary: oklch(97% 0 0);
  --secondary-foreground: oklch(20.5% 0 0);
  --muted: oklch(97% 0 0);
  --muted-foreground: oklch(55.6% 0 0);
  --accent: oklch(97% 0 0);
  --accent-foreground: oklch(20.5% 0 0);
  --destructive: oklch(57.7% 0.245 27.325);
  --border: oklch(92.2% 0 0);
  --input: oklch(92.2% 0 0);
  --surface: oklch(98% 0 0);
  --surface-foreground: var(--foreground);
}

.app-button {
  --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color, #0000000d);
  --tw-font-weight: var(--font-weight-medium);
  cursor: pointer;
  border-radius: calc(var(--radius) - 2px);
  border-style: var(--tw-border-style);
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  font-weight: var(--font-weight-medium);
  background-clip: padding-box;
  border-width: 1px;
  border-color: #0000;
  height: calc(var(--spacing) * 9);
  gap: calc(var(--spacing) * 1.5);
  padding-inline: calc(var(--spacing) * 2.5);
  border-color: var(--border);
  background-color: var(--background);
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);

  &:hover {
    background-color: var(--muted);
    color: var(--foreground);
  }
}

.annotation-item {
  display: inline-block;
  opacity: 0.8;
  outline: 2px solid rgb(255 240 0);
  background-color: #fff0002b;
  border-radius: 2px;

  &:focus,
  &:hover {
    background-color: #fff00080;
    opacity: 1;
  }
}
