:host {
  --tui-border-width: 0;
  background-image: url(/img/banner-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.badge {
  display: inline-block;
  border-radius: 40px;
  background-color: #c1ff72;
  padding: 0.2rem 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.form-wrap {
  background: #6a7181;
  outline: 13px solid #ffffff33;
}
