<div class="bg-banner">
  <div class="container mx-auto h-120 z-1">
    <div class="flex gap-6 py-12">
      <section class="w-160 flex flex-col gap-5">
        <div></div>

        <div>
          <span class="badge">Москва и регионы</span>
        </div>

        <h1 class="-font-semibold text-5xl/14 -uppercase">Натяжные потолки <br />в Москве под ключ</h1>

        <p class="text-gray-600 w-100">
          Натяжные потолки любых видов и сложности. Поможем с выбором идеального варианта! Качественные материалы.
          Опытные мастера!
        </p>
      </section>

      <section class="flex-1"></section>

      <section class="bg-circle">
        <app-main-banner-form></app-main-banner-form>
      </section>
    </div>
  </div>
</div>

<div class="container mx-auto z-1">
  <ol class="grid grid-cols-4 gap-6 py-4">
    <li class="flex items-center gap-3">
      <img src="/icons/banner-icon-1.svg" class="w-20" />
      Бесплатный выезд замерщика
    </li>

    <li class="flex items-center gap-3">
      <img src="/icons/banner-icon-2.svg" class="w-20" />
      Экологично
    </li>

    <li class="flex items-center gap-3">
      <img src="/icons/banner-icon-3.svg" class="w-20" />
      Изготовление за 1 день, установка за 2 часа
    </li>

    <li class="flex items-center gap-3">
      <img src="/icons/banner-icon-4.svg" class="w-20" />
      3 года гарантии на материалы
    </li>
  </ol>
</div>

<!-- <div class="container mx-auto mt-40">
  <div class="flex flex-col gap-6">
    <section>
      <h1 class="font-black text-6xl">НАТЯЖНЫЕ ПОТОЛКИ ПОД КЛЮЧ В МОСКВЕ</h1>

      <span class="text-gray-500 text-2xl">От 120 р/м2, с прозрачной сметой и без предоплаты</span>
    </section>

    <section>
      <span class="text-gray-500 text-2xl">При заказе потолка вы получаете светильники и карнизы в подарок</span>
    </section>

    <section>
      <button type="button" class="btn-primary">Рассчитать стоимость потолка</button>
      <button type="button" class="btn-primary-small">Рассчитать стоимость потолка</button>
    </section>

    <section>
      <span class="text-gray-500 text-2xl">Получите предварательную смету уже сегодня</span>
    </section>
  </div>
</div> -->
